body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    z-index: 1;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover {
    background-color: #111;
}

.activenav {
    background-color: #4CAF50;
}

.topnav li a.activenav:hover {
    background-color: #4CAF50;
}

#content {
    padding: 10px;
}

#leftbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 340px;
    color: #666666;
    background-color: #f3f3f3;
    padding: 4px;
    overflow-y: scroll;
    display: none;
    z-index: -1;
    padding-top: 60px;
    font-size: 14px;
}


#leftbar h4 {
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid #cfcfcf;
}

#leftbar div div {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#leftbar div div:hover {
    background-color: #d5d5d5;
}

#leftbar div div img {
    vertical-align: middle;
    margin-right: 8px;
}

.no-hover {
    cursor: default !important;
}

.no-hover:hover {
    background: none !important;
}