body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: black;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    z-index: 2;
    box-shadow: 0 0 10px #aaa;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover {
    background-color: #ddd;
}

.activenav {
    color: #eee !important;
    background-color: #008cba;
}


.topnav li a.activenav:hover {
    background-color: #008cba;
}

#content {
    padding: 10px;
    z-index: -2;
}

#leftbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 340px;
    color: #666666;
    background-color: #f3f3f3;
    padding: 4px;
    overflow-y: scroll;
    display: none;
    z-index: -1;
    padding-top: 60px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}


#leftbar h4 {
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid #cfcfcf;
}

#leftbar div div {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#leftbar div div:hover {
    background-color: #d5d5d5;
}

#leftbar div div img {
    vertical-align: middle;
    margin-right: 8px;
}

#leftbar ul {
    list-style-type: none;
    padding-left: 0;
    width: 200px;
}

#leftbar ul li:hover {
    cursor: pointer;
}

#leftbar ul li a {
    font-size: 16px;
    display: block;
    color: #333;
    text-align: left;
    padding: 8px 15px;
    text-decoration: none;
}

#leftbar ul li a:hover {
    text-decoration: underline;
}

.no-hover {
    cursor: default !important;
}

.no-hover:hover {
    background: none !important;
}

canvas {
    width: 100%;
    padding: 0;
    margin: 0;
}

.center {
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}