body {
    color: #333;
    background-color: #f6f6f6;
}

.flighttable {
    position: static;
    margin-left: auto;
    margin-right: auto;
    background-color: #fcfcfc;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    padding: 10px;
    border-collapse: collapse;
    vertical-align: top;
}

.flighttable tr {
    border-top: none;
    border-bottom: 1px solid #fcfcfc;
}

.flighttable tr:last-child {
  border-bottom: none;
}

.flighttable tr th {
    padding: 5px 10px;
    font-weight: 400;
    text-transform: none;
}

.flighttable tr td {
    padding: 5px 10px;
}

#time {
    position: fixed;
    bottom: 0;
    right: 0;
}

.listtable {
    width: 90%;
}

.statstable {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

#viewport {
    text-align: center;
    padding-left: 340px;
    /*overflow-x: scroll;*/
}

#map {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#compare-map {
    width: 100%;
    height: 500px;
}

i {
    cursor: pointer;
}

#loading {
    margin-top: 30vh;
}

.intro {
    background-color: #f3f3f3;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    padding: 10px;
    padding-bottom: 15px;
}

#comparison {
    padding-left: 250px;
    padding-right: 250px;
}

#comparison h2 {
    font-weight: 400;
    font-size: 24px;
    border-bottom: 1px solid #cfcfcf;
}

.compare-table {
    border: 1px solid #ddd;
    text-align: left;
    width: 97.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    margin-bottom: 29px;
    border-collapse: collapse;
}

.compare-table th {
    color: #fff;
    font-weight: 400;
    background-color: #008cba;
    padding: 2px;
}

.compare-table td {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 2px;
}

.winner {
    background-color: #d6f4d6;
}

.header {
    cursor: pointer;
}

.compare-table .header th:hover {
    background-color: #007caa;
}

.compare-table img {
    vertical-align: middle;
}

.toggle-button {
    cursor: pointer;
    margin-left: 1.25%;
}

.toggle-button:hover {
    text-decoration: underline;
}

.list-thumbnail {
    height: 20px;
}
