#map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
}


aside {
    background-color: #e5e5e5;
    width: 20vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -50;
    box-shadow: 0 0 10px #e5e5e5;
}

aside h1 {
    
}
