* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.mobile-header {
    width: 100%;
    margin: 0;
    color: #eeeeee;
    background-color: #009930;
    padding: 15px;
    font-size: 18pt;
}

.mobile-item {
    width: 100%;
    margin: 0;
    background-color: #fff;
}

.mobile-link {
    font-size: 14pt;
    padding: 14px;
    border-bottom: 1px solid #cdcdcd;

}

.mobile-link:active {
    background-color: #ddd;
}

.mobile-loginbox {
    width: 100%;
    text-align: center;
}

#id_submit {
    width: 40%;
    font-size: 10pt;
    padding: 10px;
    margin-top: 8px;
    border: none;
    text-decoration: none;
    color: white;
    background-color: #757575;
}

.mobile-inputdiv {
    width: 100%;
    margin: 0;
}

.mobile-inputdiv input {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 15pt;
    padding: 15px;
}

.mobile-inputdiv input:focus {
    outline: none;
}

input[type='date'] {
    color: white;
}

.mobile-list-item {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;

}

.mobile-list-item:active {
    background-color: #ddd;
}

.mobile-detail-item {
    font-size: 18px;
    padding: 6px;
    border-bottom: 1px solid #cdcdcd;
}

.mobile-answer {
    float: right;
}

.mobile-footer {
    width: 100%;
    margin: 0;
    color: #444444;
    padding: 5px;
    font-size: 10pt;
}

.fa-angle-right {
    float: right;
    transform: translateY(4px);
}

.fa-angle-down {
    float: right;
    transform: translateY(4px);
}

.fa-angle-up {
    float: right;
}
