<table class="ajaxpanel flighttable statstable">
    <tr>
        <th colspan="2">Airports</th>
    </tr>
    {% for airport in top_airports %}
    <tr>
        <td>{{ airport.html_name|safe }}</td>
        <td>{{ airport.id__count }}</td>
    </tr>
    {% endfor %}
</table>

<table class="ajaxpanel flighttable statstable">
    <tr>
        <th colspan="2">Routes</th>
    </tr>
    {% for route in top_routes %}
    <tr>
        <td>
            <abbr title="{{ route.origin__name }}, {{ route.origin__city }}, {{ route.origin__country }}">{{ route.origin__iata }}</abbr> – 
            <abbr title="{{ route.destination__name }}, {{ route.destination__city }}, {{ route.destination__country }}">{{ route.destination__iata }}</abbr>
        </td>
        <td>{{ route.id__count }}</td>
    </tr>
    {% endfor %}
</table>

<table class="ajaxpanel flighttable statstable">
    <tr>
        <th colspan="2">Airlines</th>
    </tr>
    {% for airline in top_airlines %}
    <tr>
        <td>{{ airline.airline }}</td>
        <td>{{ airline.id__count }}</td>
    </tr>
    {% endfor %}
</table>

<table class="ajaxpanel flighttable statstable">
    <tr>
        <th colspan="2">Aircraft</th>
    </tr>
    {% for aircraft in top_planes %}
    <tr>
        <td>{{ aircraft.aircraft }}</td>
        <td>{{ aircraft.id__count }}</td>
    </tr>
    {% endfor %}
</table>