{% extends "flights/base.html" %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="loginbox">
    <h3>Log in</h3>
    <form method="post" action="{% url 'login' %}">{% csrf_token %}
        <p>
            {{ form.username.label_tag }}<br>
            {{ form.username }}
        </p>
        <p>
            {{ form.password.label_tag }}<br>
            {{ form.password }}
        </p>
        {% if form.errors %}
        <p style="color: red;">Your username and password didn't match. Please try again.</p>
        {% endif %}

    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    
    <p><a href="{% url 'create_account' %}">Create account</a></p>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}