{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static 'flights/css/base.css' %}" />
        {% block links %}
        {% endblock %}
    </head>
    
    <body>
        <ul class="topnav">
            <li><a href="{% url 'index' %}" id="index_nav">flightgraph.org {{ test }}</a></li>
            <li><a href="{% url 'gcmap' %}" id="gcmap_nav">Route mapper</a></li>
            <li><a href="" id="flights_nav">My flights</a></li>
            <li><a href="" id="airport_nav">Airport database</a></li>
        </ul>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    
    <script>
        document.getElementById('{{ nav_id }}').classList.add('activenav');;
    </script>
</html>