{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static 'flights/css/base.css' %}" />
        {% block links %}
        {% endblock %}
    </head>
    
    <body>
        <div class="topnav">
            <a href="{% url 'index' %}" id="index_nav">flightgraph.org {{ test }}</a>
            <a href="{% url 'gcmap' %}" id="gcmap_nav">Route mapper</a>
            <a href="{% url 'flights' %}" id="flights_nav">My flights</a>
            <a id="airport_nav">Airport database</a>
            {% if username %}
            <a id='userbox' onclick="myFunction();">{{ username }}</a>
            <div class="dropdown-content" id="user_dropdown">
                <a href="">Profile</a>
                <a href="">Settings</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <a id="userbox" href="{% url 'login' %}">Log in</a>
            {% endif %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    
    <script>
        document.getElementById('{{ nav_id }}').classList.add('activenav');;
    </script>
    
    {% if username %}
    <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("user_dropdown").style.display="block";
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
      if (!e.target.matches('#userbox')) {
            var myDropdown = document.getElementById("user_dropdown");
              if (myDropdown.style.display=='block') {
                myDropdown.style.display = 'none';
              }
      }
    }
    </script>
    {% endif %}
</html>