{% extends 'flights/base.html' %}

{% load static %}
{% load humanize %}


{% block links %}<link rel="stylesheet" type="text/css" href="{% static 'flights/css/flights.css' %}" />
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}


{% block content %}

<div id="comparison">
    <h2>Summary</h2>
    
    <table class="compare-table">
        <tr>
            <th>Username</th>
            <th>{{username1}}</th>
            <th>{{username2}}</th>
        </tr>
        <tr>
            <td>Total flights</td>
            <td>{{n_flights1}}</td>
            <td>{{n_flights2}}</td>
        </tr>
        <tr>
            <td>Total distance</td>
            <td>{{distance_mi1|floatformat:0|intcomma}} mi<br>{{distance_km1|floatformat:0|intcomma}} km</td>
            <td>{{distance_mi2|floatformat:0|intcomma}} mi<br>{{distance_km2|floatformat:0|intcomma}} km</td>
        </tr>
        <tr>
            <td>Airports</td>
            <td>{{top_airports1|length}}</td>
            <td>{{top_airports2|length}}</td>
        </tr>
        <tr>
            <td>Countries</td>
            <td>{{top_countries1|length}}</td>
            <td>{{top_countries2|length}}</td>
        </tr>
        <tr>
            <td>Aircraft</td>
            {% with planes_only1|length as len1 %}
            {% with planes_only2|length as len2 %}
            <td>{{planes_both|length|add:len1}}</td>
            <td>{{planes_both|length|add:len2}}</td>
            {% endwith %}
            {% endwith %}
        </tr>
        <tr>
            <td>Airlines</td>
            {% with airlines_only1|length as len1 %}
            {% with airlines_only2|length as len2 %}
            <td>{{airlines_both|length|add:len1}}</td>
            <td>{{airlines_both|length|add:len2}}</td>
            {% endwith %}
            {% endwith %}
        </tr>        
    </table>
    
    <div>
        <span class="toggle-button" onclick="showAll();">Show all tables</span> <span class="toggle-button" onclick="hideAll();">Hide all tables</span>
    </div>
    
    <h2>Airports</h2>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Airports visited by {{username1}} and {{username2}}</th>
        </tr>
        {% for airport in airports_both %}
        <tr>
            <td>{{airport.html_name|safe}}</td>
            {% if airport.count1 >= airport.count2 %}
            <td class="winner">{{airport.count1}}</td>
            {% else %}
            <td>{{airport.count1}}</td>
            {% endif %}
            {% if airport.count2 >= airport.count1 %}
            <td class="winner">{{airport.count2}}</td>
            {% else %}
            <td>{{airport.count2}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Airports visited only by {{username1}}</th>
        </tr>
        {% for airport in airports_only1 %}
        <tr>
            <td>{{airport.html_name|safe}}</td>
            <td class="winner">{{airport.id__count}}</td>
            <td>0</td>
        </tr>
        {% endfor %}
    </table>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Airports visited only by {{username2}}</th>
        </tr>
        {% for airport in airports_only2 %}
        <tr>
            <td>{{airport.html_name|safe}}</td>
            <td>0</td>
            <td class="winner">{{airport.id__count}}</td>
        </tr>
        {% endfor %}
    </table>
    
    
    
    
    
    <h2>Countries</h2>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Countries visited by {{username1}} and {{username2}}</th>
        </tr>
        {% for country in countries_both %}
        <tr>
            {% with 'flights/img/flags/24/'|add:country.country_iso|add:'.png' as image_static %}
            <td><img src="{% static image_static %}"> {{country.country}} </td>
            {% endwith %}
            {% if country.count1 >= country.count2 %}
            <td class="winner">{{country.count1}}</td>
            {% else %}
            <td>{{country.count1}}</td>
            {% endif %}
            {% if country.count2 >= country.count1 %}
            <td class="winner">{{country.count2}}</td>
            {% else %}
            <td>{{country.count2}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Countries visited only by {{username1}}</th>
        </tr>
        {% for country in countries_only1 %}
        <tr>
            {% with 'flights/img/flags/24/'|add:country.country_iso|add:'.png' as image_static %}
            <td><img src="{% static image_static %}"> {{country.country}} </td>
            {% endwith %}
            <td class="winner">{{country.id__count}}</td>
            <td>0</td>
        </tr>
        {% endfor %}
    </table>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Countries visited only by {{username2}}</th>
        </tr>
        {% for country in countries_only2 %}
        <tr>
            {% with 'flights/img/flags/24/'|add:country.country_iso|add:'.png' as image_static %}
            <td><img src="{% static image_static %}"> {{country.country}} </td>
            {% endwith %}
            <td>0</td>
            <td class="winner">{{country.id__count}}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h2>Aircraft</h2>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Aircraft flown by {{username1}} and {{username2}}</th>
        </tr>
        {% for plane in planes_both %}
        <tr>
            <td>{{plane.aircraft}}</td>
            {% if plane.count1 >= plane.count2 %}
            <td class='winner'>{{plane.count1}}</td>
            {% else %}
            <td>{{plane.count1}}</td>
            {% endif %}
            {% if plane.count2 >= plane.count1 %}
            <td class="winner">{{plane.count2}}</td>
            {% else %}
            <td>{{plane.count2}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Aircraft flown only by {{username1}}</th>
        </tr>
        {% for plane in planes_only1 %}
        <tr>
            <td>{{plane.aircraft}}</td>
            <td class='winner'>{{plane.count1}}</td>
            <td>0</td>
        </tr>
        {% endfor %}
    </table>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Aircraft flown only by {{username2}}</th>
        </tr>
        {% for plane in planes_only2 %}
        <tr>
            <td>{{plane.aircraft}}</td>
            <td>0</td>
            <td class='winner'>{{plane.count2}}</td>
        </tr>
        {% endfor %}
    </table>



    <h2>Airlines</h2>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Airlines flown by {{username1}} and {{username2}}</th>
        </tr>
        {% for airline in airlines_both %}
        <tr>
            <td>{{airline.airline}}</td>
            {% if airline.count1 >= airline.count2 %}
            <td class='winner'>{{airline.count1}}</td>
            {% else %}
            <td>{{airline.count1}}</td>
            {% endif %}
            {% if airline.count2 >= airline.count1 %}
            <td class="winner">{{airline.count2}}</td>
            {% else %}
            <td>{{airline.count2}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Airlines flown only by {{username1}}</th>
        </tr>
        {% for airline in airlines_only1 %}
        <tr>
            <td>{{airline.airline}}</td>
            <td class='winner'>{{airline.count1}}</td>
            <td>0</td>
        </tr>
        {% endfor %}
    </table>
    
    <table class="compare-table">
        <tr class="header">
            <th colspan="3"><i class="fa fa-angle-down" style="display:none;"></i><i class="fa fa-angle-up"></i> Airlines flown only by {{username2}}</th>
        </tr>
        {% for airline in airlines_only2 %}
        <tr>
            <td>{{airline.airline}}</td>
            <td>0</td>
            <td class='winner'>{{airline.count2}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
    $('.header').on("click", function() {
        $(this).each(function() {
            $(this).find('th').find('i').toggle();
        });
        $(this).nextUntil('tr.header').toggle();
    });
    
    $('.compare-table').append('<col style="width:50%"><col style="width:25%"><col style="width:25%">');
</script>

<script>
    function showAll() {
        $('.header').nextUntil('tr.header').show();
        $('.fa-angle-up').show();
        $('.fa-angle-down').hide();
    }
    
    function hideAll() {
        $('.header').nextUntil('tr.header').hide();
        $('.fa-angle-up').hide();
        $('.fa-angle-down').show();
    }
</script>

{% endblock %}