{% extends 'flights/base.html' %}

{% load static %}
{% load humanize %}

{% block links %}<link rel="stylesheet" type="text/css" href="{% static 'flights/css/flights.css' %}" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

<script src="http://www.webglearth.com/v2/api.js"></script>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="{% static 'flights/geo/arc.js' %}"></script>

<style>
    .leaflet-container {
        background: #acd5f9;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}


{% block content %}

{% if not flights.all %}
<div class="center intro" id="id_intro">
    <span style="float:right;" onclick="document.getElementById('id_intro').style.display='none';"><i class="fa fa-times"></i></span>
    <h3>Welcome to your account page</h3>
    <div>
        1. Use the links on the left to navigate between various subpages<br>
        2. Use the "Add flight" page to add your flights<br>
        3. Click on your username in the upper right to find your public profile page and customize your account settings<br>
        This box will show up while your flight list is empty...onhover each enum, highlight part of page...
    </div>
</div>
{% endif %}

<aside id="leftbar">
    {% if not query_username %}
    <h2>Your flights</h2>
    {% else %}
    <h2>{{ query_username }}'s flights</h2>
    {% endif %}

    <table>
        <tr>
            <th>Total flights</th>
            <td>{{ flights|length }}</td>
        </tr>
        <tr>
            <th>Unique airports</th>
            <td>{{ airports|length }}</td>
        </tr>
        <tr>
            <th rowspan="2">Total distance</th>
            <td>{{ distance_mi|floatformat:0|intcomma }} mi</td>
        </tr>
        <tr>
            <td>{{ distance_km|floatformat:0|intcomma }} km</td>
        </tr>
    </table>

    <h4>Navigation</h4>

    <ul>
        <li><a id="map_link" onclick="showMap();">Map</a></li>
        <li><a id="list_link" onclick="showList();">List</a></li>
        <li><a id="statistics_link" onclick="showStatistics();">Statistics</a></li>
        {% if not query_username %}
        <li><a id="add_link" onclick="showAdd();">Add flight</a></li>
        {% endif %}
    </ul>

    <h4>Filter</h4>

    <table class="" id="airport" onchange="">
        <tr>
            <td>Airport</td>
            <td>
                <select id="airportselect" onchange="applyFilter();">
                    <option value="0">All</option>
                    {% for airport in airports %}
                    <option value="{{ airport.pk }}">{{ airport.iata }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Airline</td>
            <td>
                <select id="airlineselect" onchange="applyFilter();">
                    <option value="0">All</option>
                    {% for airline in airlines %}
                    <option>{{ airline.airline }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Plane</td>
            <td>
                <select id="planeselect" onchange="applyFilter();">
                    <option value="0">All</option>
                    {% for plane in planes %}
                    <option>{{ plane.aircraft }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>

    {% if not query_username %}
    <h4>Share</h4>
    <p>You can share this page at <a href="{% url "profile" username=username %}">{% url "profile" username=username %}</a>. Choose privacy options in your settings.</p>
    {% endif %}
</aside>


<div id="viewport">
    <div id="loading" hidden><i class="fa fa-refresh fa-spin fa-3x"></i></div>
</div>

<div id="map">
</div>

<script>
    $('#leftbar').show('slide', {direction: 'left'}, 400);

    function applyFilter() {
        airport = document.getElementById("airportselect").value;
        airline = document.getElementById("airlineselect").value;
        plane = document.getElementById("planeselect").value;

        $('.ajaxpanel').remove();

        $.ajax({
            url: '{% url "draw_map" username=display_username %}',
            data: {
                'airport': airport,
                'airline': airline,
                'plane': plane,
            },
            success: function (data) {
                $('#viewport').append(data);
                $('.ajaxpanel').hide();
            }
        });

        $.ajax({
            url: '{% url "draw_list" username=display_username %}',
            data: {
                'airport': airport,
                'airline': airline,
                'plane': plane,
            },
            success: function (data) {
                $('#viewport').append(data);
                $('.ajaxpanel').hide();
            }
        });

        $.ajax({
            url: '{% url "draw_stats" username=display_username %}',
            data: {
                'airport': airport,
                'airline': airline,
                'plane': plane,
            },
            success: function (data) {
                $('#viewport').append(data);
                $('.ajaxpanel').hide();
                currentView = $('aside > ul > li > .activenav').attr('id');
                if (currentView == 'map_link') {
                    //$('#map').show();
                }
                else if (currentView == 'list_link') {
                    $('.ajaxpanel').hide();
                    showList();
                }
                else if (currentView == 'statistics_link') {
                    $('.statstable').show();
                }
                else if (currentView == 'add_link') {
                    $('#addform').show();
                }
            }
        });



    }

    function showMap() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#map_link').addClass('activenav');
        $('.ajaxpanel').hide();
        $('#map').show();
    }

    function showList() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#list_link').addClass('activenav');
        $('#map').hide();
        $('.ajaxpanel').hide();

        if ($('#flightlist').length == 0) {
            $.ajax({
                url: '{% url "draw_list" username=display_username %}',
                data: {
                    'input_string': 'empty'
                },
                success: function (data) {
                    $('#viewport').append(data);
                }
            });
        }
        else {
            $('#flightlist').show();
        }
    }

    function showStatistics() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#statistics_link').addClass('activenav');
        $('#map').hide()
        $('.ajaxpanel').hide();

        if ($('.statstable').length == 0) {
            $.ajax({
                url: '{% url "draw_stats" username=display_username %}',
                data: {
                    'input_string': 'empty'
                },
                success: function (data) {
                    $('#viewport').append(data);
                }
            });
        }
        else {
            $('.statstable').show();
        }
    }

    function showAdd() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#add_link').addClass('activenav');
        $('#map').hide()
        $('.ajaxpanel').hide();

        if ($('#addform').length == 0) {
            $.ajax({
                url: '{% url "draw_add" %}',
                data: {
                    'input_string': 'empty'
                },
                success: function (data) {
                    $('#viewport').append(data);
                }
            });
        }
        else {
            $('#addform').show();
        }
    }

    showMap();
</script>

<script>
    var map = L.map('map', {zoomControl: false, worldCopyJump: true}).setView([25, 0], 3);

    L.control.zoom({position: 'bottomright'}).addTo(map);

    var myGeoJSONPath = '{% static "flights/geo/countries-hires.json" %}';
    var myCustomStyle = {
        stroke: true,
        color: '#6e7a8c',
        weight: 0.25,
        fill: true,
        fillColor: '#87b8a1',
        fillOpacity: 1,
        clickable: false
    }

    $.getJSON(myGeoJSONPath, function(data) {
        L.geoJson(data, {
            clickable: false,
            style: myCustomStyle
        }).addTo(map).bringToBack();
    });

    var x = 12;
    var icon1 = L.icon({
        iconUrl: "{% static 'flights/img/airport-icon.png' %}",
        iconSize: [x, x],
        iconAnchor: [x/2, x/2],
        popupAnchor: [0, 0]
    });

    var markersLayer = new L.LayerGroup().addTo(map);
    var linesLayer = new L.LayerGroup().addTo(map);

    var baseLayers = {
    };
    var overlays = {
        "Airports": markersLayer,
        "Routes": linesLayer
    };
    L.control.layers(baseLayers, overlays, {position: 'bottomright'}).addTo(map);
</script>

<script>
$.ajax({
    url: '{% url "draw_map" username=display_username %}',
    data: {
        'input_string': 'empty'
    },
    success: function (data) {
        $('#viewport').append(data);
    }
});
</script>

<script>
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $("#loading").show();
        }).ajaxStop(function () {
            $("#loading").hide();
        });
    });
</script>


{% endblock %}
