{% extends 'flights/base.html' %}

{% load static %}

{% block links %}<link rel="stylesheet" type="text/css" href="{% static 'flights/css/flights.css' %}" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

<script src="http://www.webglearth.com/v2/api.js"></script>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="{% static 'flights/geo/arc.js' %}"></script>

<style>
    .leaflet-container {
        background: #7394bc;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}


{% block content %}

<aside id="leftbar">
    <h4>{{ username }}</h4>
    
    <table>
        <tr>
            <th>Total flights</th>
            <td>{{ flights|length }}</td>
        </tr>
        <tr>
            <th>Unique airports</th>
            <td>{{ airports|length }}</td>
        </tr>
        <tr>
            <th rowspan="2">Total distance</th>
            <td>{{ distance_mi|floatformat:0 }} mi</td>
        </tr>
        <tr>
            <td>{{ distance_km|floatformat:0 }} km</td>
        </tr>
    </table>
    
    <h4>Navigation</h4>
    
    <ul>
        <li><a id="map_link" onclick="showMap();">Map</a></li>
        <li><a id="list_link" onclick="showList();">List</a></li>
        <li><a id="statistics_link" onclick="showStatistics();">Statistics</a></li>
        <li><a id="add_link" onclick="showAdd();">Add flight</a></li>
    </ul>
    
    <h4>Settings</h4>
</aside>


<div id="viewport">
    <div id="loading" hidden><i class="fa fa-refresh fa-spin fa-3x"></i></div>
</div>

<div id="map">
</div>

<script>
    $('#leftbar').show('slide', {direction: 'left'}, 400);
    
    function showMap() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#map_link').addClass('activenav');
        $('.ajaxpanel').hide();
        $('#map').show();
    }
    
    function showList() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#list_link').addClass('activenav');
        $('#map').hide()
        $('.ajaxpanel').hide();
        
        if ($('#flightlist').length == 0) {
            $.ajax({
                url: '{% url "draw_list" %}',
                data: {
                    'input_string': 'empty'
                },
                success: function (data) {
                    $('#viewport').append(data);
                }
            });
        }
        else {
            $('#flightlist').show();
        }
    }
    
    function showStatistics() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#statistics_link').addClass('activenav');
        $('#map').hide()
        $('.ajaxpanel').hide();
        
        if ($('.statstable').length == 0) {
            $.ajax({
                url: '{% url "draw_stats" %}',
                data: {
                    'input_string': 'empty'
                },
                success: function (data) {
                    $('#viewport').append(data);
                }
            });
        }
        else {
            $('.statstable').show();
        }
    }
    
    function showAdd() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#add_link').addClass('activenav');
        $('#map').hide()
        $('.ajaxpanel').hide();
        
        if ($('#addform').length == 0) {
            $.ajax({
                url: '{% url "draw_add" %}',
                data: {
                    'input_string': 'empty'
                },
                success: function (data) {
                    $('#viewport').append(data);
                }
            });
        }
        else {
            $('#addform').show();
        }
    }
    
    showMap();
</script>

<script>
    var map = L.map('map', {zoomControl: false, worldCopyJump: true}).setView([25, 0], 3);

    L.control.zoom({position: 'bottomright'}).addTo(map);

    var myGeoJSONPath = '{% static "flights/geo/countries-hires.json" %}';
    var myCustomStyle = {
        stroke: true,
        color: '#6e7a8c',
        weight: 0.25,
        fill: true,
        fillColor: '#ccc6b3',
        fillOpacity: 1,
        clickable: false
    }

    $.getJSON(myGeoJSONPath, function(data) {
        L.geoJson(data, {
            clickable: false,
            style: myCustomStyle
        }).addTo(map).bringToBack();
    });

    var x = 12;
    var icon1 = L.icon({
        iconUrl: "{% static 'flights/img/airport-icon.png' %}",
        iconSize: [x, x],
        iconAnchor: [x/2, x/2],
        popupAnchor: [0, 0]
    });

    var markersLayer = new L.LayerGroup().addTo(map);
    var linesLayer = new L.LayerGroup().addTo(map);

    var baseLayers = {
    };
    var overlays = {
        "Airports": markersLayer,
        "Routes": linesLayer
    };
    L.control.layers(baseLayers, overlays, {position: 'bottomright'}).addTo(map);
</script>

<script>
    {% for airport in airports %}
    {% with 'flights/img/flags/24/'|add:airport.country_iso|add:'.png' as image_static %}
    
    var marker = new L.marker([{{ airport.latitude }}, {{ airport.longitude }}], {icon: icon1}).bindPopup('<b>{{ airport.name }}</b><br><i>{{ airport.city }}, {{ airport.country }}</i><br>φ = {{ airport.latitude|floatformat:2 }}<br>λ = {{ airport.longitude|floatformat:2 }} <img style="float: right;" src="{% static image_static %}">');

    markersLayer.addLayer(marker); 

    {% endwith %}
    {% endfor %}

    {% for route in routes %}
    var generator = new arc.GreatCircle({x: {{ route.origin__longitude }}, y: {{ route.origin__latitude }} },
                                        {x: {{ route.destination__longitude }}, y: {{ route.destination__latitude }} },
                                        {'name': 'test'});
    var line = generator.Arc(100, {offset: 10});
    var lineMarker = new L.geoJson(line.json(), {weight: 2, clickable: false, color: 'red'});
    linesLayer.addLayer(lineMarker);
    {% endfor %}
</script>

<style>
    .leaflet-container {
        background: #7394bc;
    }
</style>

<script>
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $("#loading").show();
        }).ajaxStop(function () {
            $("#loading").hide();
        });
    });
</script>


{% endblock %}