{% extends 'flights/base.html' %}

{% load static %}

{% block links %}<link rel="stylesheet" type="text/css" href="{% static 'flights/css/flights.css' %}" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

<script src="http://www.webglearth.com/v2/api.js"></script>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="{% static 'flights/geo/arc.js' %}"></script>

<style>
    .leaflet-container {
        background: #7394bc;
    }
</style>
{% endblock %}


{% block content %}

<aside id="leftbar">
    <h4>Navigation</h4>
    
    <ul>
        <li><a id="map_link" onclick="showMap();">Map</a></li>
        <li><a id="list_link" onclick="showList();">List</a></li>
        <li><a id="graphs_link" onclick="showGraphs();">Graphs</a></li>
    </ul>
    
    <h4>Settings</h4>
</aside>


<table class="flighttable">
    <tr>
        <th>Date</th>
        <th>Number</th>
        <th>From</th>
        <th>To</th>
        <th>Airline</th>
        <th>Aircraft</th>
        <th>Picture</th>
    </tr>
    {% for flight in flights %}
    <tr>
        <td>{{ flight.date.isoformat }}</td>
        <td>{{ flight.number }}</td>
        <td>{{ flight.origin }}</td>
        <td>{{ flight.destination }}</td>
        <td>{{ flight.airline }}</td>
        <td>{{ flight.aircraft }} ({{ flight.aircraft_registration }})</td>
        <td></td>
    </tr>
    <tr>
        <td>Test</td>
    </tr>
    {% endfor %}
</table>

<div class="time">Server response time: {{ loading_time|floatformat:6 }} seconds</div>


<script>
    $('#leftbar').show('slide', {direction: 'left'}, 400);
    
    function showMap() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#map_link').addClass('activenav');
    }
    
    function showList() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#list_link').addClass('activenav');
    }
    
    function showGraphs() {
        $('aside > ul > li > a').removeClass('activenav');
        $('#graphs_link').addClass('activenav');
    }
    
    showList();
</script>

{% endblock %}