{% extends 'flights/base.html' %}

{% load static %}

{% block links %}<link rel="stylesheet" type="text/css" href="{% static 'flights/css/gcmap.css' %}" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

<script src="http://www.webglearth.com/v2/api.js"></script>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="{% static 'flights/geo/arc.js' %}"></script>

<style>
    .leaflet-container {
        background: #7394bc;
    }
</style>
{% endblock %}


{% block content %}

<form id="routeform" class="topform" action="javascript:;" onsubmit="drawGcmap(this)">{% csrf_token %}
    <span>
        <input type="text" name="input_string" placeholder="Input route, e.g. CPH-LHR or EKCH-EGLL-KJFK" size="30" required pattern="[A-Za-z]{3,4}-[A-Za-z]{3,4}(-[A-Za-z]{3,4})*">
        <label for="input_string"></label>
    </span>
    <input type="submit" value="&blacktriangleright;">
</form>

<div id="map"></div>

<aside id="leftbar">
    <h4>Segments</h4>
    <div id="left-bar-routes"></div>
    <h4>Airports</h4>
    <div id="left-bar-airports"></div>
    <h4>Export maps</h4>
    <div id="left-bar-export"></div>
</aside>

<script>
    function toggleLeftBar() {
        $('#leftbar').toggle('slide', {direction: 'left'}, 400);
    }
    
    function hideLeftBar() {
        $('#leftbar').hide('slide', {direction: 'left'}, 400);
    }
    
    function showLeftBar() {
        $('#leftbar').show('slide', {direction: 'left'}, 400);
    }
    
    function printLeftBar(innerhtml) {
        document.getElementById('leftbar').innerHTML += innerhtml;
    }
</script>

<script>
    var map = L.map('map', {zoomControl: false, worldCopyJump: true}).setView([0, 0], 2);

    L.control.zoom({position: 'bottomright'}).addTo(map);

    var myGeoJSONPath = '{% static "flights/geo/countries-hires.json" %}';
    var myCustomStyle = {
        stroke: true,
        color: '#6e7a8c',
        weight: 0.25,
        fill: true,
        fillColor: '#ccc6b3',
        fillOpacity: 1,
        clickable: false
    }

    $.getJSON(myGeoJSONPath, function(data) {
        L.geoJson(data, {
            clickable: false,
            style: myCustomStyle
        }).addTo(map).bringToBack();
    });

    var x = 12;
    var icon1 = L.icon({
        iconUrl: "{% static 'flights/img/airport-icon.png' %}",
        iconSize: [x, x],
        iconAnchor: [x/2, x/2],
        popupAnchor: [0, 0]
    });
</script>

<script>
    function drawGcmap(form) {        
        $.ajax({
            url: '{% url "draw_gcmap" %}',
            data: {
                'input_string': form.input_string.value
            },
            dataType: 'json',
            success: function (data) {
                var airports = $.parseJSON(data);

                for (i = 0; i < airports.length; i++) {
                    airport = airports[i].fields
                    var marker = new L.marker([airport.latitude, airport.longitude], {icon: icon1}).bindPopup('<b>' + airport.name + '</b><br><i>' + airport.city + ', ' + airport.country + '</i><br>φ = ' + airport.latitude.toFixed(2) + '<br>λ = ' + airport.longitude.toFixed(2) + '<img style="float: right;" src=\'{% static "flights/img/flags/24/" %}' + airport.country_iso + '.png\'>').addTo(map);
                    
                    drawAirportDiv(airport);
                }
                
                for (i = 0; i < airports.length - 1; i++) {
                    var generator = new arc.GreatCircle({x: airports[i].fields.longitude, y: airports[i].fields.latitude },
                                                        {x: airports[i+1].fields.longitude, y: airports[i+1].fields.latitude },
                                                        {'name': 'test'});
                    var line = generator.Arc(100, {offset: 10});
                    L.geoJson(line.json(), {weight: 2, clickable: false, color: '#646464'}).addTo(map);
                    
                    drawRouteDiv(airports[i].fields, airports[i+1].fields);
                }
                
                $('#left-bar-routes').append("<div class=\"no-hover\"><span style=\"float: right; margin-right: 15px;\">Total: " + sumDistances() + " mi</span></div>");
                
                showLeftBar();
            }
        });
    }
    
    function drawAirportDiv(airport) {
        $('#left-bar-airports').append(
            $('<div/>')
                .attr('onClick', 'showAirportDiv(this);')
                .append('<img src=\'{% static "flights/img/flags/24/" %}' + airport.country_iso + '.png\'><b>' + airport.name + "</b><br><table class=\"hidden-span\" style=\"display:none;\"><tr><td>City:</td><td>" + airport.city + "</td></tr><tr><td>Region:</td><td>" + airport.region + "</td></tr><tr><td>Country:</td><td>" + airport.country + "</td></tr><tr><td>Latitude:</td><td>" + airport.latitude.toFixed(5) + "</td></tr><tr><td>Longitude:</td><td>" + airport.longitude.toFixed(5) + "</td></tr></table>")
            );
    }
    
    function drawRouteDiv(origin, destination) {
        $('#left-bar-routes').append(
            $('<div/>')
                .attr('onClick', 'showAirportDiv(this);')
                .append('<b>' + origin.iata + " – " + destination.iata + "</b><span class=\"distance\" style=\"float: right; margin-right: 15px;\">" + distance(origin, destination).toFixed(0) + " mi</span>")
            );
    }
    
    function distance(origin, destination) {
        
        var lat1 = origin.latitude * Math.PI/180.0;
        var lat2 = destination.latitude * Math.PI/180.0;
        var lon1 = origin.longitude * Math.PI/180.0;
        var lon2 = destination.longitude * Math.PI/180.0;
        
        var theta = lon2 - lon1;
        var distance = Math.acos(Math.sin(lat1) * Math.sin(lat2) + Math.cos(lat1) * Math.cos(lat2) * Math.cos(theta));
        
        if (distance < 0) {
            distance = -1 * distance;
        }
        
        return distance * 3959.0;
    }
    
    function sumDistances() {
        var sum = 0;
        var distanceSpans = document.getElementsByClassName("distance");
        for (i = 0; i < distanceSpans.length; i++) {
            sum = sum + parseInt(distanceSpans[i].innerHTML);
        }
        return sum;
    }
    
    function showAirportDiv(div) {
        div.getElementsByClassName("hidden-span")[0].style.display = 'inline';
        div.setAttribute("onClick", "hideAirportDiv(this);");
        // highlight in red on map?
    }
    
    function hideAirportDiv(div) {
        div.getElementsByClassName("hidden-span")[0].style.display = 'none';
        div.setAttribute("onClick", "showAirportDiv(this);");
    }
</script>

{% endblock %}