{% extends 'flights/base.html' %}

{% load static %}

{% block links %}<link rel="stylesheet" type="text/css" href="{% static 'flights/css/gcmap.css' %}" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

<script src="http://www.webglearth.com/v2/api.js"></script>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="{% static 'flights/geo/arc.js' %}"></script>

<style>
    .leaflet-container {
        background: #acd5f9;
    }
</style>
{% endblock %}


{% block content %}

<form id="routeform" class="topform" action="javascript:;" onsubmit="drawGcmap(this)">{% csrf_token %}
    <span>
        <input type="text" name="input_string" placeholder="Input route, e.g. CPH-LHR-JFK or EKCH-EGLL-KJFK" size="30" required pattern="[A-Za-z]{3,4}-[A-Za-z]{3,4}(-[A-Za-z]{3,4}|,[A-Za-z]{3,4}-[A-Za-z]{3,4}(-[A-Za-z]{3,4})*)*">
        <label for="input_string"></label>
    </span>
    <input type="submit" value="&blacktriangleright;">
</form>

<div id="map"></div>

<aside id="leftbar">
</aside>

<script>
    var map = L.map('map', {zoomControl: false, worldCopyJump: true}).setView([25, 0], 3);

    L.control.zoom({position: 'bottomright'}).addTo(map);

    var myGeoJSONPath = '{% static "flights/geo/countries-hires.json" %}';
    var myCustomStyle = {
        stroke: true,
        color: '#6e7a8c',
        weight: 0.25,
        fill: true,
        fillColor: '#87b8a1',
        fillOpacity: 1,
        clickable: false
    }

    $.getJSON(myGeoJSONPath, function(data) {
        L.geoJson(data, {
            clickable: false,
            style: myCustomStyle
        }).addTo(map).bringToBack();
    });

    var x = 12;
    var icon1 = L.icon({
        iconUrl: "{% static 'flights/img/airport-icon.png' %}",
        iconSize: [x, x],
        iconAnchor: [x/2, x/2],
        popupAnchor: [0, 0]
    });

    var markersLayer = new L.LayerGroup().addTo(map);
    var linesLayer = new L.LayerGroup().addTo(map);

    var baseLayers = {
    };
    var overlays = {
        "Airports": markersLayer,
        "Routes": linesLayer
    };
    L.control.layers(baseLayers, overlays, {position: 'bottomright'}).addTo(map);
</script>

<script>
    function drawGcmap(form) {        
        $.ajax({
            url: '{% url "draw_gcmap" %}',
            data: {
                'input_string': form.input_string.value
            },
            success: function (data) {
                markersLayer.clearLayers();
                linesLayer.clearLayers();
                $('#leftbar').html(data);
                $('#leftbar').show('slide', {direction: 'left'}, 400);
            }
        });
    }
    
    function sumDistances() {
        var sum = 0;
        var distanceSpans = document.getElementsByClassName("distance");
        for (i = 0; i < distanceSpans.length; i++) {
            sum = sum + parseInt(distanceSpans[i].innerHTML);
        }
        return sum;
    }
    
    function showAirportDiv(div) {
        div.getElementsByClassName("hidden-span")[0].style.display = 'inline';
        div.setAttribute("onClick", "hideAirportDiv(this);");
        // highlight in red on map?
    }
    
    function hideAirportDiv(div) {
        div.getElementsByClassName("hidden-span")[0].style.display = 'none';
        div.setAttribute("onClick", "showAirportDiv(this);");
    }
</script>

{% endblock %}