{% extends 'flights/base.html' %}
{% load static %}

{% block links %}
<!-- <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
<script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>
<script type='text/javascript' src="{% static 'flights/geo/planetaryjs.min.js' %}"></script> -->

<!-- <style>
    body {
        background-color: black;
    }
</style> -->

<link rel="stylesheet" type="text/css" href="{% static 'flights/css/index.css' %}" />

{% endblock %}

{% block content %}



<div id="map-background">
    <div class="flex-container">
        <div id="advertisment">
            <h1>flightgraph.dk</h1>
            <p>Flight visualisation for aviation enthusiasts. Save your flight history and photos, plot flight paths, and look up airport data.</p>
        </div>
        <div id="loginbox">
            {% if not username %}
            <h2>Create account</h2>
            <form action="{% url 'create_account' %}" method="post"> {% csrf_token %}
                <label>Username</label>
                <input type="text" placeholder="Username" name="username" required>
                {% if duplicate_username %}<div class="sublabel" style="color: red;">This username is already taken.</div>{% endif %}
                <label>Password</label>
                <input type="password" placeholder="••••••••" name="password" required>
                {% if invalid_password %}<div class="sublabel" style="color: red;">This password is invalid.</div>}{% endif %}
                <label>Email</label>
                <input type="email" placeholder="Email" name="email">
                <div class="sublabel">Optional. If provided, password can be reset.</div>
                <input type="submit" value="Sign up">
            </form>
            {% else %}
            <h2 style="white-space: nowrap;">Welcome, {{ username }}</h2>
            Your latest flights:
            <ol class="flightslist">
                {% for flight in latest_flights %}
                <li onclick="goToFlight({{ flight.id }})">
                    <div class="flight-arrow"><i class="fa fa-angle-right"></i></div>
                    <div class="flight-date">{{ flight.date.day }}/{{ flight.date.month }}/{{ flight.date.year }}</div>
                    <div class="flight-number">{{ flight.number }}</div>
                    <div class="flight-route">{{ flight.origin.html_name|safe }}–{{ flight.destination.html_name|safe }}</div>
                </li>
                {% empty %}
                <div style="text-align: center;">No flights yet!</div>
                {% endfor %}
                <li class="button" id="viewflights_button">
                    View all
                </li>
                <li class="button" id="addflight_button">
                    Add flight
                </li>
            </ol>
            {% endif %}
        </div>
    </div>
</div>


<div id="addflight" class="modal">
    <div class="modal-content" id="modal-content">
        <span class="close">&times;</span>
        <h2>Add flight</h2>
        <span id="message"></span>
        <!-- Had to add method=post and enctype='etc' otherwise firefox wouldn't upload a ile. but this is stupid because it is handled via javascript and sent via post anway...see if there is an override-->
        <form action="javascript:void(0);" onsubmit="submitForm();" method="post" enctype="multipart/form-data" id="addflightform">{% csrf_token %}
            <label>Date</label>
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="YYYY-MM-DD" name="date" autocomplete="off" required>
            <label>Flight number</label>
            <input type="text" placeholder="Flight number" name="number" autocomplete="off">

            <hr>

            <div class="formrow">
                <div style="margin-right: 4px;">
                    <label>Origin</label>
                    <input type="text" placeholder="From" id="origin-field" name="origin-name" autocomplete="off" required>
                    <input type="hidden" id="origin-field-hidden" name="origin-pk" value="">
                </div>
                <div style="margin-left: 4px;">
                    <label>Destination</label>
                    <input type="text" placeholder="To" id="destination-field" name="destination-name" autocomplete="off" required>
                    <input type="hidden" id="destination-field-hidden" name="destination-pk" value="">
                </div>
            </div>
            <div class="sublabel">Type the IATA code and blur the field to look up the airport. To add non-IATA or custom airports, use the <a href="">batch edit interface</a>.</div>

            <hr>

            <label>Airline</label>
            <input type="text" placeholder="Airline" name="airline" autocomplete="off">
            <input type="text" placeholder="Operator" name="operator" autocomplete="off">
            <label>Aircraft</label>
            <input type="text" placeholder="Aircraft" name="aircraft" autocomplete="off">
            <label>Registration</label>
            <input type="text" placeholder="Registration" name="registration" autocomplete="off">

            <hr>

            <div class="formrow">
                <div style="margin-right: 4px;">
                    <label>Class</label>
                    <input type="text" placeholder="F/J/Y" name="class" autocomplete="off">
                </div>
                <div style="margin-left: 4px;">
                    <label>Seat</label>
                    <input type="text" placeholder="Seat" name="seat" autocomplete="off">
                </div>
            </div>

            <hr>

            <label>Picture</label>
            <input type="url" placeholder="Image link" name="image-link" autocomplete="off">
            <input type="file" placeholder="Image" name="image-file" autocomplete="off" accept="image/png, image/jpeg">

            <label>Comments</label>
            <input type="text" placeholder="Comments" name="comments" autocomplete="off">

            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<script>
    function submitForm() {
        form = new FormData(document.querySelector('form'));

        var d = new Date();
        var n = d.toISOString().slice(0, 10);
        console.log(n);
        console.log(form.get('image-file'));


        // var fileList = document.getElementById('image-upload-id');
        // var file = fileList[0];
        // console.log(file);
        fetch("{% url 'add_flight' %}", {
            method: "POST",
            credentials: "include",
            headers: {
                "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
                "Accept": "application/json",
                "Content-Type": "application/json; charset=utf-8",
            },
            body: JSON.stringify({
                date: form.get('date'),
                number: form.get('number'),
                origin_pk: form.get('origin-pk'),
                destination_pk: form.get('destination-pk'),
                airline: form.get('airline'),
                aircraft: form.get('aircraft'),
                registration: form.get('registration'),
                class: form.get('class'),
                seat: form.get('seat'),
                image_link: form.get('image-link'),
                comments: form.get('comments'),
                operator: form.get('operator'),
                today: n == form.get('date'),
                //image_file: form.get('image-file'),
                image_file: 'test',
                //image_file: r.result,
                // csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            }),
        }).then(function(response) {
            response.json().then(function(data) {
                console.log(data);
                if (data.status == 1) {
                    console.log(data.number);
                    // Reset and hide form
                    document.getElementById("addflightform").reset();
                    document.getElementById('addflightform').style.display = 'none';

                    document.getElementById('message').innerHTML += 'Flight ' + data.number + ' successfully added.<br>';
                    if (data.today) {
                        document.getElementById('message').innerHTML += 'Welcome to ' + data.city + '!';
                    }
                    document.getElementById('message').innerHTML += '<input type="submit" value="Add another flight" onclick="resetAddForm();">';

                    if (form.get('image-file')) {
                        console.log('attempting to upload image');
                        fetch("{% url 'upload_image' %}", {
                            method: "POST",
                            credentials: "include",
                            headers: {
                                "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
                            },
                            body: form.get('image-file')
                        }).then(function(response) {
                            document.getElementById('message').innerHTML += '<br>Image successfully uploaded';
                        });
                    }
                    else {
                        console.log('not attempting to upload image');
                    }

                }
            });
        });
        //
        // console.log(r.result);






        //console.log(JSON.stringify({image_file: form.get('image-file')}));
        //reader = new FileReader();
        // if (form.get('image-file') != null) {
        //     upload_image(form.get('image-file'));
        //     // Then just send the """filename""" in the JSON. Let Django figure out the rest. Also prevents seeing other users pics.
        // }


    }

    function resetAddForm() {
        document.getElementById("addflightform").reset();
        document.getElementById('addflightform').style.display = 'block';
        document.getElementById('message').innerHTML = '';
    }
</script>

<script>
    var modal = document.getElementById('addflight');
    var btn = document.getElementById("addflight_button");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        document.getElementById('addflightform').style.display = 'block';
        document.getElementById('message').innerHTML = '';
        modal.style.display = "none";
    }

    document.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    var btn = document.getElementById('viewflights_button');
    btn.onclick = function () {
        window.location.href = "{% url 'list' %}";
    }
</script>

<script>
    // Using the JS "fetch" api instead of AJAX because we don't have jQuery in the mobile site...this function is extremely fragile
    function query_airport_code(code, id) {
        document.getElementById(id).value = "Searching..."
        opts = {
            method: 'POST',
            body: code,
        };
        fetch('{% url "search_airports" %}', opts)
        .then((resp) => resp.json())
        .then(function(data) {
            if (data['status'] == 1) {
                document.getElementById(id).style.color = 'green';
                document.getElementById(id).value = data['iata'] + ' - ' + data['city'];
                document.getElementById(id + '-hidden').value = data['pk'];
                console.log('success');
            }
            if (data['status'] == 0) {
                document.getElementById(id).style.color = 'red';
                document.getElementById(id).value = 'Airport not found';
            }
        })
        .catch(function(error) {
            console.log(error);
        });
    }

    document.getElementById('origin-field').onblur = function () {
        if (this.value != "") {
            query_airport_code(this.value, 'origin-field');
        }
    };

    document.getElementById('origin-field').onclick = function () {
        this.value = "";
    };

    document.getElementById('destination-field').onblur = function () {
        if (this.value != "") {
            query_airport_code(this.value, 'destination-field');
        }
    };

    document.getElementById('destination-field').onclick = function () {
        this.value = "";
    };
</script>

<div id="main-container">
    <div>
        <h2>Flight log</h2>
        <p>Maintain your personal flight log. Draw maps and calculate statistics for your flight history, and organize your photographs. Optionally share your flights on your public user page.</p>
    </div>


    <div>
        <h2>Great circle mapper</h2>
        <p>Plot great circles and calculate flight distances with an interactive map. Export the results to high quality vector graphics.</p>
    </div>

    <div>
        <h2>Airport database</h2>
        <p>Look up IATA/ICAO codes, locations, elevations, and country/region data for 4000+ airports. If you find a missing airport, <a href="">add it to the database</a>.</p>
    </div>

    <div>
        <h2>Mobile site</h2>
        <p>Check flight paths and keep your flight log up to date while you travel using the mobile site at <a href="mobile/">flightgraph.eu/mobile</a>.</p>
    </div>

    <div>
        <h2>Free</h2>
        <p>This site is free and <a href="">open source</a>. There are no adverts, paid features, premium accounts, or donation buttons.</p>
    </div>
    <hr>
    <div>
        <p>
            <span>Terms of use and privacy policy</span>
        </p>

        <span id="privacy" style="font-size: 9pt; color: #555;">
            <p>The information and tools on this site are for enthusiast and general interest purposes only. They cannot be used for flight planning or navigation.</p>

            <p>Cookies are used to enable users to create accounts and log in. These cookies are essential for the basic functioning of the site.</p>

            <p>Accounts suspected of misusing the site functionality or abusing server resources can be terminated without recourse.</p>

            <p>
                The server logs basic information about all requests and responses, such as your IP address and internet browser, for debugging and spam prevention purposes.
                Server logs are permanently deleted after 2 weeks.
                The only other data stored about you is what you submit, which you can access, modify, and delete in entirety through the site interface.
            </p>

            <p>Your usage of this site implies your acceptance of the terms of use and privacy policy.</p>
        </span>

    </div>

</div>


<script>
    function goToFlight(id) {
        window.location.href = "{% url 'list' %}/" + id.toString();
    }
</script>

<script>
    function togglePrivacy() {
        var privacy = document.getElementById('privacy');
        if (privacy.style.display == 'none') {
            privacy.style.display = 'block';
        }
        else {
            privacy.style.display = 'none';
        }
    }
</script>








{% comment %}
<div class="center">
    <h1>Welcome to flightgraph.eu</h1>
    <span>35.171.98.155:80<!--Commercial flight visualisation for aviation enthusiasts<!--Plot flight paths, look up airports, and save your flight history.--></span>
</div>

<canvas id="rotatingGlobe"></canvas>

<script type='text/javascript'>
            (function() {
              var globe = planetaryjs.planet();

                globe.loadPlugin(autocenter({extraHeight: -120}));
                globe.loadPlugin(autoscale({extraHeight: -120}));
              globe.loadPlugin(autorotate(0));
              // The `earth` plugin draws the oceans and the land; it's actually
              // a combination of several separate built-in plugins.
              //
              // Note that we're loading a special TopoJSON file
              // (world-110m-withlakes.json) so we can render lakes.
              globe.loadPlugin(planetaryjs.plugins.earth({
                topojson: { file:   "{% static 'flights/geo/world-110m.json' %}" },
                oceans:   { fill:   '#7394bc' },
                land:     { fill:   '#ccc6b3' },//'#06304e' },
                borders:  { stroke: '#6e7a8c' }
              }));
              // The `pings` plugin draws animated pings on the globe.
              globe.loadPlugin(planetaryjs.plugins.pings());
              // The `zoom` and `drag` plugins enable
              // manipulating the globe with the mouse.
              globe.loadPlugin(planetaryjs.plugins.zoom({
                  scaleExtent: [50, 1000]
              }));
              globe.loadPlugin(planetaryjs.plugins.drag({
                // Dragging the globe should pause the
                // automatic rotation until we release the mouse.
                onDragStart: function() {
                  this.plugins.autorotate.pause();
                },
                onDragEnd: function() {
                  this.plugins.autorotate.resume();
                }
              }));

              // Set up the globe's initial scale, offset, and rotation.
              globe.projection.scale(175).translate([175, 175]).rotate([0, -10, 0]);



                globe.loadPlugin(function(globe) {
                   globe.onDraw(function() {
                       globe.withSavedContext(function(context){
                           var arc= {type: "LineString", coordinates: [[40,30], [40, -50]]};
                           context.beginPath();
                           globe.path.context(context)(arc);
                           context.stroke();
                           context.closePath();
                       });
                   });
                });
              // Every few hundred milliseconds, we'll draw another random ping.
              var colors = ['red', 'yellow', 'white', 'orange', 'green', 'cyan', 'pink'];
              //setInterval(function() {
            //    var lat = Math.random() * 170 - 85;
            //    var lng = Math.random() * 360 - 180;
            //    var color = colors[Math.floor(Math.random() * colors.length)];
            //    globe.plugins.pings.add(lng, lat, { color: color, ttl: 2000, angle: Math.random() * 10 });
            //  }, 150);

              var canvas = document.getElementById('rotatingGlobe');

              globe.draw(canvas);



              // This plugin will automatically rotate the globe around its vertical
              // axis a configured number of degrees every second.
              function autorotate(degPerSec) {
                // Planetary.js plugins are functions that take a `planet` instance
                // as an argument...
                return function(planet) {
                  var lastTick = null;
                  var paused = false;
                  planet.plugins.autorotate = {
                    pause:  function() { paused = true;  },
                    resume: function() { paused = false; }
                  };
                  // ...and configure hooks into certain pieces of its lifecycle.
                  planet.onDraw(function() {
                    if (paused || !lastTick) {
                      lastTick = new Date();
                    } else {
                      var now = new Date();
                      var delta = now - lastTick;
                      // This plugin uses the built-in projection (provided by D3)
                      // to rotate the globe each time we draw it.
                      var rotation = planet.projection.rotate();
                      rotation[0] += degPerSec * delta / 1000;
                      if (rotation[0] >= 180) rotation[0] -= 360;
                      planet.projection.rotate(rotation);
                      lastTick = now;
                    }
                  });
                };
              };



                // Plugin to resize the canvas to fill the window and to
                  // automatically center the planet when the window size changes
                  function autocenter(options) {
                    options = options || {};
                    var needsCentering = false;
                    var globe = null;

                    var resize = function() {
                      var width  = window.innerWidth + (options.extraWidth || 0);
                      var height = window.innerHeight + (options.extraHeight || 0);
                      globe.canvas.width = width;
                      globe.canvas.height = height;
                      globe.projection.translate([width / 2, height / 2]);
                    };

                    return function(planet) {
                      globe = planet;
                      planet.onInit(function() {
                        needsCentering = true;
                        d3.select(window).on('resize', function() {
                          needsCentering = true;
                        });
                      });

                      planet.onDraw(function() {
                        if (needsCentering) { resize(); needsCentering = false; }
                      });
                    };
                  };

                  // Plugin to automatically scale the planet's projection based
                  // on the window size when the planet is initialized
                  function autoscale(options) {
                    options = options || {};
                    return function(planet) {
                      planet.onInit(function() {
                        var width  = window.innerWidth + (options.extraWidth || 0);
                        var height = window.innerHeight + (options.extraHeight || 0);
                        planet.projection.scale(Math.min(width, height) / 2);
                      });
                    };
                  };
            })();
        </script>
{% endcomment %}
{% endblock %}
