{% extends 'flights/base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'flights/css/login.css' %}">
{% endblock %}


{% block content %}
<div id="loginbox1">
    <h2>Log in </h2>
    <form action="{% url 'login_view' %}" method="post"> {% csrf_token %}
        <label>Username</label>
        <input type="text" placeholder="Username" name="username" required>
        <label>Password</label>
        <input type="password" placeholder="••••••••" name="password" required>
        {% if invalid_credentials %}<div class="sublabel" style="color: red;">Authentication failed.</div>{% endif %}
        <input type="submit" value="Log in">
        <div class="sublabel"><a href="{% url 'reset_account' %}">Password reset</div>
    </form>
</div>
{% endblock %}
