{% extends 'flights/base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'flights/css/map.css' %}" />

<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/> -->
<!-- <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script> -->
<link rel="stylesheet" href="{% static 'flights/css/vend/leaflet.css' %}">
<script src="{% static 'flights/js/vend/leaflet.js' %}"></script>

<script src="{% static 'flights/geo/arc.js' %}"></script>

<!--<script src="http://www.webglearth.com/v2/api.js"></script>-->

<!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> -->
<script src="{% static 'flights/js/vend/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'flights/js/vend/jquery-ui.min.js' %}"></script>

<!-- <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script> -->
<script src="{% static 'flights/js/vend/Leaflet.VectorGrid.bundled.js' %}"></script>


<script src="{% static '/flights/js/vue.js' %}"></script>
<style>
    .leaflet-container {
        background: #C6ECFF;
    }
</style>

<!--<script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
<script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>
<script type='text/javascript' src="{% static 'flights/geo/planetaryjs.min.js' %}"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>-->


{% endblock %}

{% block content %}

<div id="app">
    <button id="switch-button" onclick="toggleMaps();" style="display: none;">Globe (provisional)</button>


    <div id="map"></div>
    <canvas id="rglobe" style="display: none; background-color:black;"></canvas>



    <aside id="airport-panel" class="side-panel">
        {% if profile %}
        <div style="width: 100%; float: right; height: 25px;">&nbsp;</div>
        {% endif %}
        <header>
            <div id="airport-name">[[ airport.name ]]</div>
            <div id="airport-location">[[ airport.city ]], [[ airport.country ]]</div>
            <div id="airport-codes">[[ airport.iata ]]/[[ airport.icao ]]</div>
            <div id="airport-flag" {% if profile %}style="transform: translateY(25px);" {% endif %}>
                <img v-bind:src="'/static/flights/img/flags/32/' + airport.country_iso + '.png'" v-bind:title="airport.country">
                <template v-if="airport.country_iso == 'GB'">
                    <br>
                    <img v-bind:src="'/static/flights/img/flags/32/_' + airport.region.toLowerCase() + '.png'" v-bind:title="airport.region" style="transform:translateY(-10px);">
                </template>
            </div>
            <!--<button class="airport-panel-close"><i class="fa fa-times"></i></button>-->
        </header>
        <section id="airport-flights">
            <ol id="flights-list">
                <!--Needs tabs for flight list, stats-->
                <template v-for="flight in flights">
                    <template v-if="(activeFilters.airline == flight.airline || activeFilters.airline == 'all') && (activeFilters.aircraft == flight.plane || activeFilters.aircraft == 'all') && (activeFilters.airport == flight.origin || activeFilters.airport == flight.destination || activeFilters.airport == 'all')">
                        <li class="flight-summary" v-bind:id="'flight-' + flight.pk" style="cursor:pointer;" v-on:click="newToggleFlightDetails(flight.pk, flight.origin_long, flight.origin_lat, flight.destination_long, flight.destination_lat)">
                            <div class="flight-arrow" v-bind:id="'flight-arrow-' + flight.pk">
                                <i class="fa fa-angle-down"></i>
                            </div>

                            <div class="flight-date">
                                [[ flight.dateString ]]<br>[[ flight.yearString ]]
                            </div>

                            <div class="flight-route">
                                <abbr v-if="flight.destination == activeFilters.airport" v-bind:title="'arrived from ' + flight.origin_city">🡶<span style="font-weight:700;">[[ flight.origin ]]</span><br>[[ flight.number ]]</abbr>
                                <abbr v-else v-bind:title="'departed to ' + flight.destination_city">🡵<span style="font-weight:700;">[[ flight.destination ]]</span><br>[[ flight.number ]]</abbr>
                            </div>

                            <div class="flight-plane">
                                [[ flight.airline ]]<br><nobr>[[ flight.plane ]]</nobr>
                            </div>
                        </li>

                        <li class="flight-details" v-bind:id="'flight-details-' + flight.pk" style="display:none;" v-on:click="newToggleFlightDetails(flight.pk,0,0,0,0)">
                            <img v-if="flight.picture != ''" class="flight-details-img" v-bind:src="flight.picture">

                            <div>
                                <span style="font-variant:small-caps;">
                                    From
                                </span>
                                <br>
                                <span style="font-weight:700;">
                                    [[ flight.origin ]]
                                </span>
                            </div>

                            <div>
                                <span style="font-variant:small-caps;">
                                    To
                                </span>
                                <br>
                                <span style="font-weight:700;">
                                    [[ flight.destination ]]
                                </span>
                            </div>

                            <div>
                                <span style="font-variant:small-caps;">Distance</span>
                                <br>
                                <span style="font-weight:700;">[[ flight.distance ]] mi</span>
                            </div>

                            <div>
                                <span style="font-variant:small-caps;">Approximate duration</span>
                                <br>
                                <span style="font-weight:700;">[[ flight.duration ]] hr</span>
                            </div>

                            <br>

                            <div>
                                <span style="font-variant:small-caps;">Airline</span>
                                <br>
                                <span style="font-weight:700;">[[ flight.airline ]]</span>
                            </div>

                            <div v-if="flight.operator != ''">
                                <span style="font-variant:small-caps;">Operator</span>
                                <br>
                                <span style="font-weight:700;">[[ flight.operator ]]</span>
                            </div>

                            <br>

                            <div class="flight-details-plane">
                                <span style="font-variant:small-caps;">Aircraft</span>
                                <br>
                                <span style="font-weight:700;">[[ flight.plane ]]</span>
                            </div>

                            <div>
                                <span style="font-variant:small-caps;">Registration</span>
                                <br>
                                <span style="font-weight:700;">[[ flight.registration ]]</span>
                            </div>
                            <br>

                            <div v-if="flight.class != ''">
                                <span style="font-variant:small-caps;">Class</span><br><span style="font-weight:700;">[[ flight.class ]]</span>
                            </div>

                            <div v-if="flight.seat != ''">
                                <span style="font-variant:small-caps;">Seat</span><br><span style="font-weight:700;">[[ flight.seat ]]</span>
                            </div>
                        </li>
                    </template>
                </template>
            </ol>
        </section>
    </aside>

    <aside id="route-panel" class="side-panel">
        {% if profile %}
        <div style="width: 100%; float: right; height: 25px;">&nbsp;</div>
        {% endif %}
        <header>
            <div id="route-name">[[ route.origin_iata ]] – [[ route.destination_iata ]]</div>
            <div id="airport-flag" {% if profile %}style="transform: translateY(25px);" {% endif %}> <!--please fix this-->
                <img v-bind:src="'/static/flights/img/flags/32/' + route.origin_country_iso + '.png'" v-bind:title="route.origin_country">
                <!-- Put arrow img here -->
                <img v-if="route.origin_country != route.destination_country" v-bind:src="'/static/flights/img/flags/32/' + route.destination_country_iso + '.png'" v-bind:title="route.destination_country">
            </div>
            <div id="route-description">
                <span style="font-variant:small-caps;color: #666;">
                    From
                </span>
                <br>
                <span style="font-weight:700;color:#e41a1c;">
                    [[ route.origin_name ]]
                </span>
                <br>
                <span style="font-size:9pt;">
                    [[ route.origin_city ]], [[ route.origin_country ]]
                </span>
                <br>
                <span style="font-variant:small-caps;color: #666;">
                    To
                </span>
                <br>
                <span style="font-weight:700;color:#e41a1c;">
                    [[ route.destination_name ]]
                </span>
                <br>
                <span style="font-size:9pt;">
                    [[ route.destination_city ]], [[ route.destination_country ]]
                </span>
            </div>
            <div style="display:inline-block;padding-right:10px;padding-top:1px;">
                <span style="font-variant:small-caps;color: #666;">Distance</span>
                <br>
                <span >[[ route.distance ]] mi</span>
            </div>
            <div style="display:inline-block;padding-right:10px;padding-top:1px;">
                <span style="font-variant:small-caps;color: #666;">Approximate duration</span>
                <br>
                <span >[[ route.duration ]] hr</span>
            </div>
        </header>
        <section id="airport-flights">
            <ol id="flights-list">
                <!--Needs tabs for flight list, stats-->
                <template v-for="flight in flights">
                    <template v-if="(activeFilters.airline == flight.airline || activeFilters.airline == 'all') &&
                    (activeFilters.aircraft == flight.plane || activeFilters.aircraft == 'all') &&
                    (activeFilters.airport == flight.origin || activeFilters.airport == flight.destination || activeFilters.airport == 'all') &&
                    (activeFilters.route == 'all' || ((activeFilters.route[0] == flight.origin && activeFilters.route[1] == flight.destination) || (activeFilters.route[1] == flight.origin && activeFilters.route[0] == flight.destination)) )">
                        <li class="flight-summary" v-bind:id="'flightRoute-' + flight.pk" style="cursor:pointer;" v-on:click="newToggleRouteFlightDetails(flight.pk, flight.origin_long, flight.origin_lat, flight.destination_long, flight.destination_lat)">
                            <div class="flight-arrow" v-bind:id="'flight-arrow-' + flight.pk">
                                <i class="fa fa-angle-down"></i>
                            </div>

                            <div class="flight-date">
                                [[ flight.dateString ]]<br>[[ flight.yearString ]]
                            </div>

                            <div class="flight-route">
                                <abbr v-bind:title="'from ' + flight.origin_city + ' to ' + flight.destination_city">🡲<span style="font-weight:700;">[[ flight.destination ]]</span><br>[[ flight.number ]]</abbr>
                            </div>

                            <div class="flight-plane">
                                [[ flight.airline ]]<br><nobr>[[ flight.plane ]]</nobr>
                            </div>
                        </li>

                        <li class="flight-details" v-bind:id="'flight-details-' + flight.pk" style="display:none;" v-on:click="newToggleRouteFlightDetails(flight.pk,0,0,0,0)">
                            <img v-if="flight.picture != ''" class="flight-details-img" v-bind:src="flight.picture">

                            <div>
                                <span style="font-variant:small-caps;">
                                    From
                                </span>
                                <br>
                                <span style="font-weight:700;">
                                    [[ flight.origin ]]
                                </span>
                            </div>

                            <div>
                                <span style="font-variant:small-caps;">
                                    To
                                </span>
                                <br>
                                <span style="font-weight:700;">
                                    [[ flight.destination ]]
                                </span>
                            </div>

                            <br>

                            <div>
                                <span style="font-variant:small-caps;">Airline</span>
                                <br>
                                <span style="font-weight:700;">[[ flight.airline ]]</span>
                            </div>

                            <div v-if="flight.operator != ''">
                                <span style="font-variant:small-caps;">Operator</span>
                                <br>
                                <span style="font-weight:700;">[[ flight.operator ]]</span>
                            </div>

                            <br>

                            <div class="flight-details-plane">
                                <span style="font-variant:small-caps;">Aircraft</span>
                                <br>
                                <span style="font-weight:700;">[[ flight.plane ]]</span>
                            </div>

                            <div>
                                <span style="font-variant:small-caps;">Registration</span>
                                <br>
                                <span style="font-weight:700;">[[ flight.registration ]]</span>
                            </div>
                            <br>

                            <div v-if="flight.class != ''">
                                <span style="font-variant:small-caps;">Class</span><br><span style="font-weight:700;">[[ flight.class ]]</span>
                            </div>

                            <div v-if="flight.seat != ''">
                                <span style="font-variant:small-caps;">Seat</span><br><span style="font-weight:700;">[[ flight.seat ]]</span>
                            </div>
                        </li>
                    </template>
                </template>
            </ol>
        </section>
    </aside>

    <aside id="filter">
        <div>
            <div class="filter-title">Filter</div>
            <div class="caption">airport</div>
            <br>
            <select class="answer" id="airport-filter">
                <option>all</option>
                <template v-for="airport in filterData.airports">
                    <option v-bind:value="airport">[[ airport ]]</option>
                </template>
            </select>
            <br>
            <div class="caption">airline</div>
            <br>
            <select class="answer" id="airline-filter">
                <option>all</option>
                <option v-for="airline in filterData.airlines">[[ airline ]]</option>
            </select>
            <br>
            <div class="caption">aircraft</div>
            <br>
            <select class="answer" id="aircraft-filter">
                <option>all</option>
                <option v-for="plane in filterData.planes">[[ plane ]]</option>
            </select>
            <br>
            <input type="submit" value="Apply" v-on:click="filter();">
        </div>
    </aside>
</div>
<!--<div id="close-button">
    <i class="fa fa-angle-left"></i>
</div>-->

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            airport: {},
            flights: [
              {},
            ],
            route: {origin_pk: '', destination_pk: ''},
            filterData: {},
            activeFilters: {airport: 'all', airline: 'all', aircraft: 'all', route: 'all'},
        },
        methods : {
            newToggleFlightDetails: function(ii, long0, lat0, long1, lat1) {
                $('#flight-' + ii).next().toggle();
                $('#flight-' + ii).toggleClass('expanded');
            },
            newToggleRouteFlightDetails: function(ii, long0, lat0, long1, lat1) {
                $('#flightRoute-' + ii).next().toggle();
                $('#flightRoute-' + ii).toggleClass('expanded');
            },
            filter: function () {
                var e = document.getElementById("airline-filter");
                var selectedAirline = e.options[e.selectedIndex].text;

                var e = document.getElementById("aircraft-filter");
                var selectedAircraft = e.options[e.selectedIndex].text;

                var e = document.getElementById("airport-filter");
                var selectedAirport = e.options[e.selectedIndex].text;

                app.activeFilters.airline = selectedAirline;
                app.activeFilters.aircraft = selectedAircraft;
                app.activeFilters.airport = selectedAirport;
                console.log('Redrawing flights...');
                app.redrawFlights();
            },
            makeDateStrings: function () {
                for (i = 0; i < app.flights.length; i++) {
                    flight = app.flights[i];
                    var date = new Date(flight['date']);
                    var shortMonthName = new Intl.DateTimeFormat("en-US", { month: "short" }).format;
                    var shortName = shortMonthName(date); // "Jul"
                    app.flights[i].dateString = date.getDate() + ' ' + shortName;
                    app.flights[i].yearString = date.getFullYear();
                }
            },
            redrawFlights: function() {
                markersLayer.clearLayers();
                linesLayer.clearLayers();
                var drawn = [];
                for (i = 0; i < app.flights.length; i++) {
                    flight = app.flights[i];
                    if ((app.activeFilters.airline == flight.airline || app.activeFilters.airline == 'all') && (app.activeFilters.aircraft == flight.plane || app.activeFilters.aircraft == 'all') && (app.activeFilters.airport == flight.origin || app.activeFilters.airport == flight.destination || app.activeFilters.airport == 'all')) {
                        var trace = [flight['origin_pk'], flight['destination_pk']]
                        trace.sort();
                        trace = cantor(trace);
                        if (drawn.indexOf(trace) == -1) {
                            drawn.push(trace);
                            var generator = new arc.GreatCircle({x: flight['origin_long'], y: flight['origin_lat'] },
                                                                {x: flight['destination_long'], y: flight['destination_lat'] },
                                                                {'name': 'test'});
                            var line = generator.Arc(100, {offset: 10});
                            var lineMarker = new L.geoJson(line.json(), {weight: 2.5, clickable: true, color: '#515151', opacity: 1.0}).on('click', routeClick, {id: [flight['origin_pk'], flight['destination_pk']], origin: flight['origin'], destination: flight['destination']}).on('mouseover', function(e) {this.setStyle({weight: 5.0, color: '#e41a1c'});}).on('mouseout', function(e) {this.setStyle({weight: 2.5, color: '#515151'})});
                            linesLayer.addLayer(lineMarker);



                        }
                    }
                }

                var drawn = [];
                for (i = 0; i < app.flights.length; i++) {
                    flight = app.flights[i];
                    if ((app.activeFilters.airline == flight.airline || app.activeFilters.airline == 'all') && (app.activeFilters.aircraft == flight.plane || app.activeFilters.aircraft == 'all') && (app.activeFilters.airport == flight.origin || app.activeFilters.airport == flight.destination || app.activeFilters.airport == 'all')) {
                        if (drawn.indexOf(flight['origin_pk']) == -1) {
                            drawn.push(flight['origin_pk']);
                            var marker = new L.marker(
                                    [flight['origin_lat'], flight['origin_long']],
                                    {icon: icon1}
                                ).on('click', airportClick, {id: flight['origin_pk'], code: flight['origin_iata']});

                            markersLayer.addLayer(marker);

                        }
                        if (drawn.indexOf(flight['destination_pk']) == -1) {
                            drawn.push(flight['destination_pk']);
                            var marker = new L.marker(
                                    [flight['destination_lat'], flight['destination_long']],
                                    {icon: icon1}
                                ).on('click', airportClick, {id: flight['destination_pk'], code: flight['destination_iata']});

                            markersLayer.addLayer(marker);
                        }
                    }
                }
                console.log(drawn.length);



                // var coords = [];
                // {% for airport in airports %}
                // if (app.activeFilters.airport == '{{ airport.iata }}' || app.activeFilters.airport == 'all') {
                //     console.log('{{ airport.iata }}');
                //     coords.push([{{ airport.latitude }}, {{ airport.longitude }}, {{ airport.pk }}]);
                // }
                // {% endfor %}
                //
                // var ids = [];
                // {% for airport in airports %}
                // if (app.activeFilters.airport == '{{ airport.iata }}' || app.activeFilters.airport == 'all') {
                //     ids.push({{ airport.pk }});
                // }
                // {% endfor %}
                //
                // for (i=0; i<coords.length; i++) {
                //     var marker = new L.marker(
                //         coords[i],
                //         {icon: icon1}
                //     ).on('click', airportClick, {id: ids[i]});
                //
                //     markersLayer.addLayer(marker);
                // }
            },
        }
    })

    function cantor(pks) {
        return (pks[0] + pks[1]) * (pks[0] + pks[1] + 1) / 2 + pks[1];
    }

    function populateFlights() {
        app.loading = true;
        console.log('Populating initial flight list from API...')
        fetch('/api/get_flights/{{ username }}').then(
            function(response) {
                console.log('Response received. Attempting to interpret JSON...')
                response.json().then(function(data) {
                    app.flights = data;
                    console.log('The following JSON has been imported and will be passed to the view:')
                    console.log(JSON.stringify(app.flights));
                    app.loading = false;
                    populateFilter();
                    app.redrawFlights();
                    app.makeDateStrings();
                });
            }
        );
        {% if start_id %}
        app.toggleFlightDetails({{ start_id }});
        {% endif %}
    }

    function populateFilter() {
        app.filterData.airlines = [...new Set(app.flights.map(item => item.airline))].sort();
        app.filterData.planes = [...new Set(app.flights.map(item => item.plane))].sort();
        var origins = [...new Set(app.flights.map(item => item.origin))];
        var destinations = [...new Set(app.flights.map(item => item.destination))];
        app.filterData.airports = [...new Set(origins.concat(destinations))].sort();
        console.log('Filter lists populated.')
    }

    populateFlights();



</script>


<script>
    // Create map in element with id 'map'
    var map = L.map('map', {
        zoomControl: false,
        worldCopyJump: true,
        inertia: false
    }).setView([25, 0], 3);

    // Add zoom control to map
    L.control.zoom({position: 'bottomright'}).addTo(map);

    // Set GEOjson path
    var geoJSONPath = '{% static "flights/geo/ne_10m_admin_0_countries_lakes.json" %}';

    // Define map style
    var mapStyle = {
        stroke: true,
        color: '#6e7a8c',
        weight: 0.25,
        fill: true,
        fillColor: '#87b8a1',
        fillOpacity: 1,
        clickable: false
    }

    // Create map layer group to hold map tiles
    var mapLayer = new L.LayerGroup().addTo(map);

    // No idea how this works but it does
    $.getJSON(geoJSONPath, function(data) {
        //L.geoJson(data, {
        //    clickable: false,
        //    pane: 'tilePane',
        //    style: mapStyle
        //}).addTo(mapLayer);
        var vectorGrid = L.vectorGrid.slicer(data, {
            vectorTileLayerStyles: {
                sliced: function(properties, zoom) {
                    return {
                        fillColor: '#FEFEE9',//'#87B8A1',
                        stroke: true,
                        fill: true,
                        color: '#646464',
                        weight: 0.25,
                        fillOpacity: 1,
                    }
                }
            },
        })
        .addTo(mapLayer);
    });

    // Create airport icon
    var x = 16;
    var icon1 = L.icon({
        iconUrl: "{% static 'flights/img/airport-icon-red.png' %}",
        iconSize: [x, x],
        iconAnchor: [x/2, x/2],
        popupAnchor: [0, 0]
    });

    // Create layer groups for lines and markers
    var markersLayer = new L.LayerGroup().addTo(map);
    var linesLayer = new L.LayerGroup().addTo(map);

    // ?
    var baseLayers = {
    };

    // For layer group control
    var overlays = {
        "Airports": markersLayer,
        "Routes": linesLayer,
        "Map": mapLayer,
    };
    L.control.layers(baseLayers, overlays, {position: 'bottomright'}).addTo(map);

    // When you click on the map, reset
    map.on('click', function(e) {
        //app.redrawFlights();
        if (document.getElementById('airport-panel').style.display != 'none') { // Always hid the airport panel
            document.getElementById('airport-panel').style.display = 'none';
        }
        if (e.originalEvent.target.tagName == 'path') { // Clicked on route
            //
        }
        else { // Didn't click on route
            if (document.getElementById('route-panel').style.display != 'none') { // Always hid the airport panel
                document.getElementById('route-panel').style.display = 'none';
            }
            app.activeFilters.airport = 'all'; document.getElementById('airport-filter').value = 'all';
            app.activeFilters.route = 'all';
            populateFlights();
            //drawRoutes(lats, longs, ids);
        }
        //populateFlights();
    });
</script>

<script>
    function airportClick(e) {
        $('#route-panel').hide();
        $('#airport-panel').show();
        $('.flight-details').hide();
        $('.expanded').toggleClass('expanded');
        app.activeFilters.airport = this.code;
        document.getElementById('airport-filter').value = this.code;
        app.redrawFlights();
        getAirportHeader(this.id);
        //getAirportFlights(this.id);
    }

    function routeClick(e) {
        $('#airport-panel').hide();
        $('#route-panel').show();
        $('.flight-details').hide();
        $('.expanded').toggleClass('expanded');
        getRouteHeader(this.id);
        app.activeFilters.route = [this.origin, this.destination];
        //getRouteFlights(this.id);
    }


//    function toggleFlightDetails(i, long0, lat0, long1, lat1) {
//        console.log(i);
//        // this function could do the api call itself to prevent getting so much data at the beginning...
//        var details = document.getElementById('flight-details-' + i)
//        if (details.style.display != 'none') {
//            details.style.display = 'none';
//            document.getElementById('flight-' + i).style.backgroundColor = '#eee';
//            document.getElementById('flight-arrow-' + i).innerHTML = '<i class="fa fa-angle-down"></i>';
//            document.getElementById('flight-details-' + i).style.cursor = 'default';
//            linesLayer.removeLayer(highlightedLineMarkers['route' + i.toString()]);
//        }
//        else {
//            details.style.display = 'list-item';
//            document.getElementById('flight-' + i).style.backgroundColor = '#e2e2e2';
//            document.getElementById('flight-arrow-' + i).innerHTML = '<i class="fa fa-angle-up"></i>';
//            document.getElementById('flight-details-' + i).style.cursor = 'pointer';
//            document.getElementById('flight-details-' + i).onclick = function() { toggleFlightDetails(i); };
//            var generator = new arc.GreatCircle({x: long0, y: lat0 },
//                                                {x: long1, y: lat1 },
//                                                {'name': 'test'});
//            var line = generator.Arc(100, {offset: 10});
//            highlightedLineMarkers['route' + i.toString()] = new L.geoJson(line.json(), {weight: 3.5, clickable: false, color: '#0978AB', opacity: 1.0});
//            linesLayer.addLayer(highlightedLineMarkers['route' + i.toString()]);
//        }
//    }
//
//    var highlightedLineMarkers = {};
</script>

<script>
    // function drawRoutes(lats, longs, ids) {
    //     linesLayer.clearLayers();
    //     for (i = 0; i < lats.length; i++) {
    //         if (longs[i][0] != longs[i][1]) { // Fix this
    //             var generator = new arc.GreatCircle({x: longs[i][0], y: lats[i][0] },
    //                                                 {x: longs[i][1], y: lats[i][1] },
    //                                                 {'name': 'test'});
    //             var line = generator.Arc(100, {offset: 10});
    //             var lineMarker = new L.geoJson(
    //                 line.json(),
    //                 {weight: 2.5,
    //                  clickable: true,
    //                  color: '#515151',
    //                  opacity: 1.0}
    //             )
    //             .on('click', routeClick, {id: ids[i]})
    //             .on('mouseover', function(e) {
    //                 this.setStyle({weight: 5.0,
    //                                color: '#e41a1c'}); //#0978AB
    //             })
    //             .on('mouseout', function(e) {
    //                 this.setStyle({weight: 2.5,
    //                                color: '#515151'})
    //             });
    //
    //             linesLayer.addLayer(lineMarker);
    //         }
    //     }
    // }

    function getAirportHeader(id) {
        fetch('/api/get_airport/' + id).then(
            function(response) {
                response.json().then(function(data) {
                    app.airport = data;
                });
            }
        );
    }

    function getAirportFlights(id) {
        fetch('/api/get_airport_flights/{{ username }}/' + id).then(
            function(response) {
               response.json().then(function(data) {
                   //app.flights = data;

                   // linesLayer.clearLayers();
                   for (i=0; i<data.length; i++) {
                   //     var generator = new arc.GreatCircle({x: data[i]['origin_long'], y: data[i]['origin_lat'] },
                   //                                         {x: data[i]['destination_long'], y: data[i]['destination_lat'] },
                   //                                         {'name': 'test'});
                   //     var line = generator.Arc(100, {offset: 10});
                   //     var lineMarker = new L.geoJson(line.json(), {weight: 2.5, clickable: true, color: '#515151', opacity: 1.0}).on('click', routeClick, {id: [data[i]['origin_pk'], data[i]['destination_pk']]}).on('mouseover', function(e) {this.setStyle({weight: 5.0, color: '#e41a1c'});}).on('mouseout', function(e) {this.setStyle({weight: 2.5, color: '#515151'})});
                   //     linesLayer.addLayer(lineMarker);
                   //
                       // Could probably do this in python on the server...
                       var date = new Date(data[i]['date']);
                       var shortMonthName = new Intl.DateTimeFormat("en-US", { month: "short" }).format;
                       var shortName = shortMonthName(date); // "Jul"
                       app.flights[i].dateString = date.getDate() + ' ' + shortName;
                       app.flights[i].yearString = date.getFullYear();
                   }


               });
            }
        );
    }

    function getRouteHeader(id) {
        fetch('/api/get_route/' + id[0] + '/' + id[1]).then(
            function(response) {
                response.json().then(function(data) {
                    app.route = data;
                })
            }
        )
    }

    function getRouteFlights(id) {
        fetch('/api/get_route_flights/{{ username }}/' + id[0] + '/' + id[1]).then(
            function(response) {
                response.json().then(function(data) {
                    app.flights = data;
                    for (i=0; i<data.length; i++) {
                       // Could probably do this in python on the server...
                       var date = new Date(data[i]['date']);
                       var shortMonthName = new Intl.DateTimeFormat("en-US", { month: "short" }).format;
                       var shortName = shortMonthName(date); // "Jul"
                       app.flights[i].dateString = date.getDate() + ' ' + shortName;
                       app.flights[i].yearString = date.getFullYear();
                   }
                })
            }
        );
    }
</script>

<script>
    // Initially populate map with airport icons...
    // var coords = [
    //     {% for airport in airports %}[{{ airport.latitude }}, {{ airport.longitude }}, {{ airport.pk }}],{% endfor %}
    // ];
    //
    // var ids = [
    //     {% for airport in airports %}{{ airport.pk }},{% endfor %}
    // ];
    //
    // for (i=0; i<coords.length; i++) {
    //     var marker = new L.marker(
    //         coords[i],
    //         {icon: icon1}
    //     ).on('click', airportClick, {id: ids[i]});
    //
    //     markersLayer.addLayer(marker);
    // }

    // ...and all routes
    // var lats = [
    //     {% for route in routes %}[{{ route.origin__latitude }}, {{ route.destination__latitude }}],{% endfor %}
    // ];
    //
    // var longs = [
    //     {% for route in routes %}[{{ route.origin__longitude }}, {{ route.destination__longitude }}],{% endfor %}
    // ];
    //
    // var ids = [
    //     {% for route in routes %}[{{ route.origin__pk }}, {{ route.destination__pk }}],{% endfor %}
    // ];
    //
    // drawRoutes(lats, longs, ids);
</script>

<!--<script>
    function toggleMaps() {
        $('#map').toggle();
        $('#rglobe').toggle();
        if (document.getElementById('switch-button').innerHTML == "Map") {
            document.getElementById('switch-button').innerHTML = "Globe";
        }
        else {
            document.getElementById('switch-button').innerHTML = "Map";
        }
    }
</script>-->

<!--<script type='text/javascript'>
            (function() {
              var globe = planetaryjs.planet();

                globe.loadPlugin(autocenter({extraHeight: -120}));
                globe.loadPlugin(autoscale({extraHeight: -120}));
              globe.loadPlugin(autorotate(0));
              // The `earth` plugin draws the oceans and the land; it's actually
              // a combination of several separate built-in plugins.
              //
              // Note that we're loading a special TopoJSON file
              // (world-110m-withlakes.json) so we can render lakes.
              globe.loadPlugin(planetaryjs.plugins.earth({
                topojson: { file:   "{% static 'flights/geo/world-50m.json' %}" },//'{% static "flights/geo/topo_ne_10m_admin_0_countries_lakes.json" %}'},
                oceans:   { fill:   '#C6ECFF' },
                land:     { fill:   '#FEFEE9' },//'#06304e' },
                borders:  { stroke: '#646464' }
              }));
              // The `pings` plugin draws animated pings on the globe.
              globe.loadPlugin(planetaryjs.plugins.pings());
              // The `zoom` and `drag` plugins enable
              // manipulating the globe with the mouse.
              globe.loadPlugin(planetaryjs.plugins.zoom({
                  scaleExtent: [5, 10000]
              }));
              globe.loadPlugin(planetaryjs.plugins.drag({
                // Dragging the globe should pause the
                // automatic rotation until we release the mouse.
                onDragStart: function() {
                  this.plugins.autorotate.pause();
                },
                onDragEnd: function() {
                  this.plugins.autorotate.resume();
                }
              }));

              // Set up the globe's initial scale, offset, and rotation.
              globe.projection.scale(175).translate([175, 175]).rotate([0, -10, 0]);



                globe.loadPlugin(function(globe) {
                   globe.onDraw(function() {
                       globe.withSavedContext(function(context){
                           for (i = 0; i < lats.length; i++) {
                                if (longs[i][0] != longs[i][1]) {
                                    var arc= {type: "LineString",
                                              coordinates: [[longs[i][0], lats[i][0]], [longs[i][1], lats[i][1]]],

                                             };
                           context.beginPath();
                           globe.path.context(context)(arc);
                           context.stroke();
                            context.strokeStyle="#515151";
                                    context.lineWidth = 2;
                           context.closePath();
                                }
                           }
                       });
                   });
                });


                globe.loadPlugin(function (globe) {
                    globe.onDraw(function() {
                       globe.withSavedContext(function (context) {
                                for (i = 0; i < coords.length; i++) {

                                            var coords1 = globe.projection([(coords[i][1]), coords[i][0]])
                                            var img = new Image();
                                            img.src = "/static/flights/img/airport-icon-red.png";

                                            var geoangle = d3.geo.distance([coords[i][1], coords[i][0]],[-
                                            globe.projection.rotate()[0], -globe.projection.rotate()[1]]);

                                            //geo angle = radians (around 90 degrees)
                                            if (geoangle > 1.57079632679490)
                                            {
                                                //Behind Sphere > 90 degrees
                                            } else {
                                               context.drawImage(img, coords1[0]-8 ,coords1[1]-8, 16 ,16)
                                            }
                                }
                        }) ;

                    });
                });




              // Every few hundred milliseconds, we'll draw another random ping.
              var colors = ['red', 'yellow', 'white', 'orange', 'green', 'cyan', 'pink'];
              //setInterval(function() {
            //    var lat = Math.random() * 170 - 85;
            //    var lng = Math.random() * 360 - 180;
            //    var color = colors[Math.floor(Math.random() * colors.length)];
            //    globe.plugins.pings.add(lng, lat, { color: color, ttl: 2000, angle: Math.random() * 10 });
            //  }, 150);

              var canvas = document.getElementById('rglobe');

              globe.draw(canvas);
//canvas.addEventListener('click', function() { alert(); }, false);


canvas.onclick = function(d) {
  if (document.getElementById('airport-panel').style.display != 'none') { // Always hid the airport panel
      document.getElementById('airport-panel').style.display = 'none';
  }
  if (document.getElementById('route-panel').style.display != 'none') { // Always hid the airport panel
      document.getElementById('route-panel').style.display = 'none';
  }
  var x = d.clientX;
  var y = d.clientY;
  var latlong = globe.projection.invert([x, y]);
  if (!isNaN(latlong[0])) {
    long = latlong[0];
    lat = latlong[1];
    closestIndex = -1;
    closestDistance = 100;
    for (i = 0; i < coords.length; i++) {
      var deltaLong = long - coords[i][1];
      var deltaLat = lat - coords[i][0];
      var r = Math.sqrt(Math.pow(deltaLong, 2) + Math.pow(deltaLat, 2))
      if (r < closestDistance) {
        closestDistance = r;
        closestIndex = i;
      }
    }
    if (closestDistance < 0.5) {
      airportClick.call({id: coords[closestIndex][2]});
    }
  }
};

canvas.onmousemove = function(d) {
  var x = d.clientX;
  var y = d.clientY;
  var latlong = globe.projection.invert([x, y]);
  if (!isNaN(latlong[0])) {
    long = latlong[0];
    lat = latlong[1];
    closestIndex = -1;
    closestDistance = 100;
    for (i = 0; i < coords.length; i++) {
      var deltaLong = long - coords[i][1];
      var deltaLat = lat - coords[i][0];
      var r = Math.sqrt(Math.pow(deltaLong, 2) + Math.pow(deltaLat, 2))
      if (r < closestDistance) {
        closestDistance = r;
        closestIndex = i;
      }
    }
  if (closestDistance < 0.5) {
     document.body.style.cursor = 'pointer';
  }
  else {
    document.body.style.cursor = 'default';
  }
}
};


              // This plugin will automatically rotate the globe around its vertical
              // axis a configured number of degrees every second.
              function autorotate(degPerSec) {
                // Planetary.js plugins are functions that take a `planet` instance
                // as an argument...
                return function(planet) {
                  var lastTick = null;
                  var paused = false;
                  planet.plugins.autorotate = {
                    pause:  function() { paused = true;  },
                    resume: function() { paused = false; }
                  };
                  // ...and configure hooks into certain pieces of its lifecycle.
                  planet.onDraw(function() {
                    if (paused || !lastTick) {
                      lastTick = new Date();
                    } else {
                      var now = new Date();
                      var delta = now - lastTick;
                      // This plugin uses the built-in projection (provided by D3)
                      // to rotate the globe each time we draw it.
                      var rotation = planet.projection.rotate();
                      rotation[0] += degPerSec * delta / 1000;
                      if (rotation[0] >= 180) rotation[0] -= 360;
                      planet.projection.rotate(rotation);
                      lastTick = now;
                    }
                  });
                };
              };



                // Plugin to resize the canvas to fill the window and to
                  // automatically center the planet when the window size changes
                  function autocenter(options) {
                    options = options || {};
                    var needsCentering = false;
                    var globe = null;

                    var resize = function() {
                      var width  = window.innerWidth //+ (options.extraWidth || 0);
                      var height = window.innerHeight //+ (options.extraHeight || 0);
                      globe.canvas.width = width;
                      globe.canvas.height = height;
                      globe.projection.translate([width / 2, height / 2]);
                    };

                    return function(planet) {
                      globe = planet;
                      planet.onInit(function() {
                        needsCentering = true;
                        d3.select(window).on('resize', function() {
                          needsCentering = true;
                        });
                      });

                      planet.onDraw(function() {
                        if (needsCentering) { resize(); needsCentering = false; }
                      });
                    };
                  };

                  // Plugin to automatically scale the planet's projection based
                  // on the window size when the planet is initialized
                  function autoscale(options) {
                    options = options || {};
                    return function(planet) {
                      planet.onInit(function() {
                        var width  = window.innerWidth + (options.extraWidth || 0);
                        var height = window.innerHeight + (options.extraHeight || 0);
                        planet.projection.scale(Math.min(width, height) / 2);
                      });
                    };
                  };
            })();
        </script>-->

{% endblock %}
