{% extends 'flights/base.html' %}

{% block content %}
<div class="settingsbox">
    <h3>Settings</h3>
    <form method="post" action="{% url 'settings' %}">{% csrf_token %}
        <h4>Privacy</h4>
        <p>
            Your public profile allows you to share some or all the information in your flight log.
        </p>
        <p>
            <input type="radio" name="enable" value="1" checked>Enable public profile<br>
            <input type="radio" name="enable" value="0">Disable public profile
        </p>
        <p>
            <br>
            {{ form.username }}
        </p>
        <p>
            {{ form.password.label_tag }}<br>
            {{ form.password }}
        </p>
        {% if form.errors %}
        <p style="color: red;">Your username and password didn't match. Please try again.</p>
        {% endif %}

    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    
    <p><a href="{% url 'create_account' %}">Create account</a></p>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}