{% extends 'flights/base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'flights/css/statistics.css' %}" />

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> What was the point of this -->

<script src="{% static 'flights/js/vue.js' %}"></script>


<style>
#leftnav2 {
    margin: 16px;
    text-align: left;
    font-size: 13pt;
    color: #666;
    position: fixed;
    left: 0;
    top: 150px;
}

#leftnav2 a {
    display: inline-block;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid white;
    text-decoration: none;
    color: inherit;
}

#leftnav2 a:hover {
    border-bottom: 2px solid #e41a1c;
}

.selecteddiv {
    font-weight: 700;
    color: #111;
    border-bottom: 2px solid #888!important;
}

.selecteddiv:hover {
    border-bottom: 2px solid #e41a1c!important;
}

#topname {
    font-weight: 700;
    font-size: 22pt;
}

#topnamecontainer {
    margin: 16px;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 75px;
}
</style>

{% endblock %}


{% block content %}

<div id="app">

    <div id="topnamecontainer">
        <div style="display: inline-block;">
            <span id="topname">{% if profile %}{{ username }}{% else %}Flights{% endif %} {% if username == "admin" %}{% endif %}</span>
        </div>
    </div>

    <div id="leftnav2">
        <a href="{% if profile %}{% url 'home' profile_username %}{% else %}{% url 'home' %}{% endif %}">Overview</a><br>
        <a href="{% if profile %}{% url 'profile_map' profile_username %}{% else %}{% url 'map' %}{% endif %}">Map</a><br>
        <a href="{% if profile %}{% url 'profile_list' profile_username %}{% else %}{% url 'list' %}{% endif %}">List</a><br>
        <a href="{% if profile %}{% url 'profile_statistics' profile_username %}{% else %}{% url 'statistics' %}{% endif %}" class="selecteddiv">Statistics</a><br>
        {% if not profile %}<a href="">Add flight</a>{% endif %}
    </div>

    <div class="column-left">
        <div id="table-parent">
            <table class="stattable">
                <tr>
                    <th colspan="3">Airports</th>
                </tr>
                <tr class="break"><td colspan="3"></td></tr>
                <template v-for="airport in airports">
                    <tr>
                        <td v-html="airport.html_name"></td>
                        <td>[[ airport.city ]]</td>
                        <td><abbr v-bind:title="airport.percent + '%'">[[ airport.count ]]</abbr></td>
                    </tr>
                    <tr class="break"><td colspan="3"></td></tr>
                </template>
                <!-- <tr v-if="maxAirports != 1000">
                    <td colspan="3" class="expand-cell" v-on:click="expandTable('airports');">Show all</td>
                </tr> -->
            </table>
            <table class="stattable">
                <tr>
                    <th colspan="3">Routes</th>
                </tr>
                <tr class="break"><td colspan="2"></td></tr>
                <template v-for="route in routes">
                    <tr>
                        <td>[[ route.origin ]]–[[ route.destination ]]</td>
                        <td><abbr v-bind:title="route.percent + '%'">[[ route.count ]]</abbr></td>
                    </tr>
                    <tr class="break"><td colspan="2"></td></tr>
                </template>
                <!-- <tr v-if="maxRoutes != 1000">
                    <td colspan="2" class="expand-cell" v-on:click="expandTable('routes');">Show all</td>
                </tr> -->
            </table>
            <table class="stattable">
                <tr>
                    <th colspan="3">Airlines</th>
                </tr>
                <tr class="break"><td colspan="2"></td></tr>
                <template v-for="airline in airlines">
                    <tr>
                        <td v-html="airline.airline"></td>
                        <td><abbr v-bind:title="airline.percent + '%'">[[ airline.count ]]</abbr></td>
                    </tr>
                    <tr class="break"><td colspan="2"></td></tr>
                </template>
                <!-- <tr v-if="maxAirlines != 1000">
                    <td colspan="2" class="expand-cell" v-on:click="expandTable('airlines');">Show all</td>
                </tr> -->
            </table>
            <table class="stattable">
                <tr>
                    <th colspan="3">Aircraft</th>
                </tr>
                <tr class="break"><td colspan="2"></td></tr>
                <template v-for="aircraft in aircraft">
                    <tr>
                        <td v-html="aircraft.aircraft"></td>
                        <td><abbr v-bind:title="aircraft.percent + '%'">[[ aircraft.count ]]</abbr></td>
                    </tr>
                    <tr class="break"><td colspan="2"></td></tr>
                </template>
                <!-- <tr v-if="maxAircraft != 1000">
                    <td colspan="2" class="expand-cell" v-on:click="expandTable('aircraft');">Show all</td>
                </tr> -->
            </table>

            <table class="stattable">
                <tr>
                    <th colspan="2">Registrations</th>
                </tr>
                <tr class="break">
                    <td colspan="2"></td>
                </tr>
                <template v-for="registration in registrations">
                    <tr>
                        <td><abbr v-bind:title="registration.aircraft">[[ registration.registration ]]</abbr></td>
                        <td>[[ registration.count ]]</td>
                    </tr>
                    <tr class="break">
                        <td colspan="2"></td>
                    </tr>
                </template>
            </table>

            <table class="stattable">
                <tr>
                    <th colspan="2">Countries</th>
                </tr>
                <tr class="break">
                    <td colspan="2"></td>
                </tr>
                <template v-for="country in countries">
                    <tr>
                        <td><img v-bind:src="'https://s3.amazonaws.com/flightgraph-static/static/flights/img/flags/24/' + country.country_iso + '.png'"> [[ country.country ]]</td>
                        <td>[[ country.count ]]</td>
                    </tr>
                    <tr class="break">
                        <td colspan="2"></td>
                    </tr>
                </template>
            </table>

        </div>
    </div>
    <div class="column-right">
        <div id="filter">
            <div>
                <div class="filter-title">Filter</div>
                <div class="caption">airport</div>
                <br>
                <select class="answer" id="airport-filter">
                    <option>all</option>
                    <template v-for="airport in filterData.airports">
                        <option v-bind:value="airport">[[ airport ]]</option>
                    </template>
                </select>
                <br>
                <div class="caption">airline</div>
                <br>
                <select class="answer" id="airline-filter">
                    <option>all</option>
                    <option v-for="airline in filterData.airlines">[[ airline ]]</option>
                </select>
                <br>
                <div class="caption">aircraft</div>
                <br>
                <select class="answer" id="aircraft-filter">
                    <option>all</option>
                    <option v-for="plane in filterData.planes">[[ plane ]]</option>
                </select>
                <br>
                <div class="caption">year</div>
                <br>
                <select class="answer" id="year-filter">
                    <option value="0">all</option>
                    <option v-for="year in filterData.years">[[ year ]]</option>
                </select>
                <br>
                <input type="submit" value="Apply" v-on:click="filter();">
            </div>
        </div>
        <div class="subfilter">
            <div class="filter-title">Aggregates</div>
            <div class="route-parent">
                <div class="caption">flights</div>
                <br>
                <div class="datum">[[ aggregates.flights ]]</div>
            </div>
            <div class="route-parent">
                <div class="caption">miles</div>
                <br>
                <div class="datum">[[ aggregates.distance_mi ]]</div>
            </div>
            <div class="route-parent">
                <div class="caption">kilometres</div>
                <br>
                <div class="datum">[[ aggregates.distance_km ]]</div>
            </div>
            <br>
            <div class="route-parent">
                <div class="caption">around the world</div>
                <br>
                <div class="datum">[[ parseFloat(parseInt(aggregates.distance_km.replace(/,/g, ""))/40075).toFixed(2) ]] × 2πR<sub>⊙</sub></div>
            </div>
            <div class="route-parent">
                <div class="caption">average distance</div>
                <br>
                <div class="datum">[[ parseInt(parseInt(aggregates.distance_mi.replace(/,/g, ""))/aggregates.flights) ]] mi</div>
            </div>
            <br>
            <div class="route-parent">
                <div class="caption">airports</div>
                <br>
                <div class="datum">[[ airports.length ]]</div>
            </div>
            <div class="route-parent">
                <div class="caption">routes</div>
                <br>
                <div class="datum">[[ routes.length ]]</div>
            </div>
            <div class="route-parent">
                <div class="caption">airlines</div>
                <br>
                <div class="datum">[[ airlines.length ]]</div>
            </div>
            <div class="route-parent">
                <div class="caption">aircraft</div>
                <br>
                <div class="datum">[[ aircraft.length ]]</div>
            </div>
            <div class="route-parent">
                <div class="caption">countries</div>
                <br>
                <div class="datum">[[ countries.length ]]</div>
            </div>
        </div>
        <div class="subfilter">
            <div class="filter-title">Superlatives</div>
            <div class="route-parent">
                <div class="caption">longest flight</div>
                <br>
                <div class="datum"><span v-html="superlatives.longest_origin"></span>–<span v-html="superlatives.longest_destination"></span></div>
            </div>
            <div class="route-parent">
                <div class="caption">miles</div>
                <br>
                <div class="datum">[[ superlatives.longest_distance_mi ]]</div>
            </div>
            <div class="route-parent">
                <div class="caption">kilometres</div>
                <br>
                <div class="datum">[[ superlatives.longest_distance_km ]]</div>
            </div>
            <div class="route-parent">
                <div class="caption">duration</div>
                <br>
                <div class="datum">[[ superlatives.longest_duration ]] hr</div>
            </div>
            <br>
            <div class="route-parent">
                <div class="caption">shortest flight</div>
                <br>
                <div class="datum"><span v-html="superlatives.shortest_origin"></span>–<span v-html="superlatives.shortest_destination"></span></div>
            </div>
            <div class="route-parent">
                <div class="caption">miles</div>
                <br>
                <div class="datum">[[ superlatives.shortest_distance_mi ]]</div>
            </div>
            <div class="route-parent">
                <div class="caption">kilometres</div>
                <br>
                <div class="datum">[[ superlatives.shortest_distance_km ]]</div>
            </div>
            <div class="route-parent">
                <div class="caption">duration</div>
                <br>
                <div class="datum">[[ superlatives.shortest_duration ]] hr</div>
            </div>
            <br>

            <div class="route-parent">
                <div class="caption">northernmost airport</div>
                <br>
                <div class="datum"><span v-html="superlatives.northernmost_airport + '&nbsp;&nbsp;&nbsp;&nbsp;' + superlatives.northernmost_city"></span></div>
            </div>
            <div class="route-parent">
                <div class="caption">latitude</div>
                <br>
                <div class="datum"><span v-html="superlatives.northernmost_latitude"></span></div>
            </div>

            <br>

            <div class="route-parent">
                <div class="caption">southernmost airport</div>
                <br>
                <div class="datum"><span v-html="superlatives.southernmost_airport + '&nbsp;&nbsp;&nbsp;&nbsp;' + superlatives.southernmost_city"></span></div>
            </div>
            <div class="route-parent">
                <div class="caption">latitude</div>
                <br>
                <div class="datum"><span v-html="superlatives.southernmost_latitude"></span></div>
            </div>

            <br>

            <div class="route-parent">
                <div class="caption">highest airport</div>
                <br>
                <div class="datum"><span v-html="superlatives.highest_airport + '&nbsp;&nbsp;&nbsp;&nbsp;' + superlatives.highest_city"></span></div>
            </div>
            <div class="route-parent">
                <div class="caption">elevation</div>
                <br>
                <div class="datum"><span v-html="superlatives.highest_elevation + ' ft'"></span></div>
            </div>

            <br>

            <div class="route-parent">
                <div class="caption">lowest airport</div>
                <br>
                <div class="datum"><span v-html="superlatives.lowest_airport + '&nbsp;&nbsp;&nbsp;&nbsp;' + superlatives.lowest_city"></span></div>
            </div>
            <div class="route-parent">
                <div class="caption">elevation</div>
                <br>
                <div class="datum"><span v-html="superlatives.lowest_elevation + ' ft'"></span></div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            airports: {},
            airlines: {},
            aircraft: {},
            routes: {},
            registrations: {},
            countries: {},
            flights: [
              {},
            ],
            filterData: {},
            activeFilters: {airport: 'all', airline: 'all', aircraft: 'all'},
            aggregates: {},
            superlatives: {},
            maxAirports: 10,
            maxRoutes: 10,
            maxAirlines: 10,
            maxAircraft: 10,
        },
        methods: {
            filter: function() {
                var e = document.getElementById("airline-filter");
                var selectedAirline = e.options[e.selectedIndex].text;

                var e = document.getElementById("aircraft-filter");
                var selectedAircraft = e.options[e.selectedIndex].text;

                var e = document.getElementById("airport-filter");
                var selectedAirport = e.options[e.selectedIndex].text;

                var e = document.getElementById("year-filter");
                var selectedYear = e.options[e.selectedIndex].text;

                populateFilteredAirports(selectedAirline, selectedAircraft, selectedAirport, selectedYear);
                populateFilteredAircraft(selectedAirline, selectedAircraft, selectedAirport, selectedYear);
                populateFilteredAirlines(selectedAirline, selectedAircraft, selectedAirport, selectedYear);
                populateFilteredRoutes(selectedAirline, selectedAircraft, selectedAirport, selectedYear); // routeset attribute on flight model for double ended route aggregates
                populateFilteredAggregates(selectedAirline, selectedAircraft, selectedAirport, selectedYear);
                populateFilteredRegistrations(selectedAirline, selectedAircraft, selectedAirport, selectedYear);
                populateFilteredSuperlatives(selectedAirline, selectedAircraft, selectedAirport, selectedYear);
                populateFilteredCountries(selectedAirline, selectedAircraft, selectedAirport, selectedYear);
            },
            expandTable: function(name) {
                switch (name) {
                    case 'airports':
                        app.maxAirports = 1000;
                        break;
                    case 'routes':
                        app.maxRoutes = 1000;
                        break;
                    case 'airlines':
                        app.maxAirlines = 1000;
                        break;
                    case 'aircraft':
                        app.maxAircraft = 1000;
                }
            }

        }
    });

    function populateFilteredAggregates(airline, aircraft, airport, year) {
        fetch('/api/get_filtered_aggregates/{{ username }}/' + airline + '/' + aircraft + '/' + airport + '/' + year).then(
            function (response) {
                response.json().then(function(data) {
                    app.aggregates = data;
                })
            }
        );
    }

    function populateFilteredSuperlatives(airline, aircraft, airport, year) {
        fetch('/api/get_filtered_superlatives/{{ username }}/' + airline + '/' + aircraft + '/' + airport + '/' + year).then(
            function (response) {
                response.json().then(function(data) {
                    app.superlatives = data;
                })
            }
        );
    }

    function populateFlights() {
        app.loading = true;
        console.log('Populating initial flight list from API...')
        fetch('/api/get_flights/{{ username }}').then(
            function(response) {
                console.log('Response received. Attempting to interpret JSON...')
                response.json().then(function(data) {
                    app.flights = data;
                    console.log('The following JSON has been imported and will be passed to the view:')
                    console.log(JSON.stringify(app.flights));
                    app.loading = false;
                    populateFilter();
                });
            }
        );
    }

    function populateFilter() {
        app.filterData.airlines = [...new Set(app.flights.map(item => item.airline))].sort();
        app.filterData.planes = [...new Set(app.flights.map(item => item.plane))].sort();
        var origins = [...new Set(app.flights.map(item => item.origin))];
        var destinations = [...new Set(app.flights.map(item => item.destination))];
        app.filterData.airports = [...new Set(origins.concat(destinations))].sort();
        app.filterData.years = [...new Set(app.flights.map(item => item.year))].sort();
        console.log('Filter lists populated.')
    }

    populateFlights();

    // function populateAirports() {
    //     fetch('/api/get_airports/{{ username }}').then(
    //         function (response) {
    //             response.json().then(function(data) {
    //                 app.airports = data;
    //                 console.log('airport data:')
    //                 console.log(JSON.stringify(app.airports));
    //             })
    //         }
    //     );
    // }

    function populateFilteredAirports(airline, aircraft, airport, year) {
        fetch('/api/get_filtered_airports/{{ username }}/' + airline + '/' + aircraft + '/' + airport + '/' + year).then(
            function (response) {
                response.json().then(function(data) {
                    app.airports = data;
                })
            }
        );
    }

    function populateFilteredAirlines(airline, aircraft, airport, year) {
        fetch('/api/get_filtered_airlines/{{ username }}/' + airline + '/' + aircraft + '/' + airport + '/' + year).then(
            function (response) {
                response.json().then(function(data) {
                    app.airlines = data;
                })
            }
        );
    }

    function populateFilteredAircraft(airline, aircraft, airport, year) {
        fetch('/api/get_filtered_aircraft/{{ username }}/' + airline + '/' + aircraft + '/' + airport + '/' + year).then(
            function (response) {
                response.json().then(function(data) {
                    app.aircraft = data;
                })
            }
        );
    }

    function populateFilteredRoutes(airline, aircraft, airport, year) {
        fetch('/api/get_filtered_routes/{{ username }}/' + airline + '/' + aircraft + '/' + airport + '/' + year).then(
            function (response) {
                response.json().then(function(data) {
                    app.routes = data;
                })
            }
        );
    }

    function populateFilteredRegistrations(airline, aircraft, airport, year) {
        fetch('/api/get_filtered_registrations/{{ username }}/' + airline + '/' + aircraft + '/' + airport + '/' + year).then(
            function (response) {
                response.json().then(function (data) {
                    app.registrations = data;
                })
            }
        )
    }

    function populateFilteredCountries(airline, aircraft, airport, year) {
        fetch('/api/get_filtered_countries/{{ username }}/' + airline + '/' + aircraft + '/' + airport + '/' + year).then(
            function (response) {
                response.json().then(function (data) {
                    app.countries = data;
                })
            }
        )
    }
    //
    // function populateAirlines() {
    //     fetch('/api/get_airlines/{{ username }}').then(
    //         function (response) {
    //             response.json().then(function(data) {
    //                 app.airlines = data;
    //             })
    //         }
    //     );
    // }
    //
    // function populateAircraft() {
    //     fetch('/api/get_aircraft/{{ username }}').then(
    //         function(response) {
    //             response.json().then(function(data) {
    //                 app.aircraft = data;
    //             })
    //         }
    //     );
    // }
    //
    // function populateRoutes() {
    //     fetch('/api/get_routes/{{ username }}').then(
    //         function(response) {
    //             response.json().then(function(data) {
    //                 app.routes = data;
    //             })
    //         }
    //     );
    // }

    populateFilteredAirports('all', 'all', 'all', 'all');
    populateFilteredAirlines('all', 'all', 'all', 'all');
    populateFilteredAircraft('all', 'all', 'all', 'all');
    populateFilteredRoutes('all', 'all', 'all', 'all');
    populateFilteredRegistrations('all', 'all', 'all', 'all');
    populateFilteredAggregates('all', 'all', 'all', 'all');
    populateFilteredSuperlatives('all', 'all', 'all', 'all');
    populateFilteredCountries('all', 'all', 'all', 'all');

</script>


{% endblock %}
